@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather-Reg';
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Merriweather-Reg', sans-serif;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.btn {
  color: #fff;
  background-color: #ef5c28;
  border: 2px solid #ef5c28;
  border-radius: 30px;
}
.btn:hover {
  background: none;
  color: #ef5c28;
  border: 2px solid #ef5c28;
  border-radius: 30px;
}
.main {
  background: url(../img/header_bg.jpg) center no-repeat;
  text-align: center;
}
.main h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-family: 'Merriweather-Bold', sans-serif;
  color: #ef5c28;
}
.main h2 {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
.main-btn {
  font-family: 'Merriweather-Bold', sans-serif;
  font-size: 1.8rem;
  padding: 1rem 2rem 1rem 2rem;
}
.header-logo {
  margin-top: 2rem;
}
.header-btn {
  font-family: 'Merriweather-Bold', sans-serif;
  font-size: 1.4rem;
  padding: 0.8rem;
}
.wrap {
  margin-top: 2rem;
  display: table;
  width: 100%;
  height: 7rem;
  text-align: right;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.features-block {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.features p {
  font-size: 1.4rem;
}
.features-img {
  display: inline-block;
  margin-bottom: 2rem;
}
.features-img img {
  height: 64px;
  width: 64px;
}
.work {
  text-align: center;
}
.work h3 {
  font-family: 'Merriweather-Bold', sans-serif;
  font-size: 2.4rem;
  margin-top: 4rem;
}
.work h4 {
  font-size: 1.6rem;
  font-family: 'Merriweather-Bold', sans-serif;
}
.work p {
  font-size: 1.4rem;
}
.work-img {
  display: inline-block;
  margin-bottom: 2rem;
}
.work-block {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.work-btn {
  margin-top: 2rem;
  font-size: 1.4rem;
  padding: 1rem 2rem 1rem 2rem;
}
.prev {
  position: absolute;
  z-index: 99;
  width: 4rem;
  height: 6rem;
  border: none;
  background: url(../img/left.png) center no-repeat;
  background-size: 70%;
  top: 30%;
  left: 0;
  -webkit-transform: scaleY(-80%);
          transform: scaleY(-80%);
  opacity: .7;
}
.next {
  position: absolute;
  z-index: 99;
  width: 4rem;
  height: 6rem;
  border: none;
  background: url(../img/right.png) center no-repeat;
  background-size: 70%;
  top: 30%;
  right: 0;
  -webkit-transform: scaleY(-80%);
          transform: scaleY(-80%);
  opacity: .7;
}
.advantage {
  padding: 4rem;
  background: url(../img/adv_bg.jpg) center no-repeat;
  text-align: center;
}
.advantage h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-family: 'Merriweather-Bold', sans-serif;
}
.advantage h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-family: 'Merriweather-Bold', sans-serif;
}
.advantage-right {
  padding: 2rem 4rem 2rem 10rem;
  font-size: 1.4rem;
  border: 3px solid #ef5c28;
  text-align: left;
  margin-top: 2rem;
}
.advantage-right img {
  display: inline;
  position: absolute;
  -webkit-transform: translateX(-81px) translateY(-15px);
          transform: translateX(-81px) translateY(-15px);
}
.advantage-left {
  padding: 2rem 10rem 2rem 4rem;
  font-size: 1.4rem;
  border: 3px solid #ef5c28;
  text-align: right;
  margin-top: 2rem;
}
.advantage-left img {
  display: inline;
  position: absolute;
  -webkit-transform: translateX(15px) translateY(-15px);
          transform: translateX(15px) translateY(-15px);
}
.reviews {
  text-align: center;
  padding: 4rem 0rem 20rem 0rem;
}
.reviews h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-family: 'Merriweather-Bold', sans-serif;
}
.reviews h2 {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.connect {
  background: url(../img/connect_bg.jpg) no-repeat bottom;
  padding: 4rem;
  text-align: center;
}
.connect h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-family: 'Merriweather-Bold', sans-serif;
}
.connect h2 {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.connect h3 {
  font-size: 1.4rem;
  margin-top: 4rem;
}
.connect a {
  margin-right: 1rem;
}
.connect input {
  display: inline;
  width: 30rem;
  padding: 1rem 1rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  border: 2px solid #ef5c28;
  border-radius: 30px;
}
.connect-btn {
  padding: 1rem 1rem;
  font-size: 1.4rem;
}
.modal-content {
  border: 2px solid #ef5c28;
  font-size: 1.4rem;
}
.modal-header {
  background-color: #ef5c28;
}
.modal-title {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
.modal-form {
  margin-bottom: 1rem;
}
.modal input {
  padding: 1rem 2rem;
  border: 2px solid #ef5c28;
  border-radius: 30px;
}
.modal-btn {
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
}
.modal-footer {
  text-align: center;
}
@media (max-width: 767px) {
  .wrap {
    margin-top: 2rem;
    display: table;
    width: 100%;
    height: 7rem;
    text-align: center;
  }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .main {
    background: url(../img/header_bg.jpg) center no-repeat;
    text-align: center;
  }
  .main h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-family: 'Merriweather-Bold', sans-serif;
    color: #ef5c28;
  }
  .main h2 {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
  .main-btn {
    font-family: 'Merriweather-Bold', sans-serif;
    font-size: 1.8rem;
    padding: 1rem 2rem 1rem 2rem;
  }
  .connect input {
    margin-bottom: 2rem;
  }
  .advantage {
    padding: 4rem 1rem;
    background: url(../img/adv_bg.jpg) right no-repeat;
  }
  .advantage-right {
    padding: 1rem 3rem 1rem 10rem;
    font-size: 1.4rem;
    border: 3px solid #ef5c28;
    text-align: left;
    margin-top: 2rem;
  }
  .advantage-right img {
    display: inline;
    position: absolute;
    -webkit-transform: translateX(-81px) translateY(-15px);
            transform: translateX(-81px) translateY(-15px);
  }
  .advantage-left {
    padding: 1rem 3rem 1rem 10rem;
    font-size: 1.4rem;
    border: 3px solid #ef5c28;
    text-align: left;
    margin-top: 2rem;
  }
  .advantage-left img {
    display: inline;
    position: absolute;
    -webkit-transform: translateX(-81px) translateY(-15px);
            transform: translateX(-81px) translateY(-15px);
  }
  .connect-form {
    text-align: center;
  }
  .connect input {
    display: inline-block;
    width: 30rem;
    margin-right: 0rem;
  }
}
