@font-face {
    font-family: 'OpenSans-Regular';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fester_Trial-Bold';
    src:url('../fonts/Fester_Trial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.bold() {font-family: 'Fester_Trial-Bold', sans-serif;}
.reg() {font-family: 'OpenSans-Regular', sans-serif;}
.textbold() {font-family: 'OpenSans-Bold', sans-serif;}

body {
    .reg();
    color: @text_color;
    font-size: 1em;
    margin: 0;
}
a, input, button {
    text-decoration: none;
    outline: none;
    color: @text_color;
}
@yelow: #FFD159;
@text_color: #3A3A3A;

h3 {
    font-size: 3em;
    margin: 0;
    .bold();
    display: inline-block;
    padding: 0px 60px;
    background: #fff;
    position: relative;
    z-index: 1;
    margin-left: 10%;
    left: -60px;

}
.line {
    height: 2px;
    background: @yelow;
    position: relative;
    top: -2em;
    z-index: 0;
    margin-bottom: 50px;
}
.box {
    padding: 50px 20px;
    background: transparent;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-left: 20px;
    transition: 0.5s;
    font-size: 0.875em;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.875em;
        margin: 0;
        text-align: center;
    }
    &-left {
        margin-left: 0px;
    }
}
.box:hover {
    background: @yelow;
    border: 1px solid @yelow;
    box-shadow: 0px 0px 30px rgba(134, 127, 110, 0.3);
}
button.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: @yelow;
    border: none;
    margin: 0px 10px 0px 35px;
    position: relative;
    top: 5px;
}
button.modal-btn {
    padding: 12px;
    width: 300px;
    height: 60px;
    background: @yelow;
    border-radius: 30px;
    font-size: 1.25em;
    border: none;
    position: relative;
    top: 10px;
    left: 14px;
    z-index: 1;
    transition: 1s;
}
button.modal-btn:before {
    content: '';
    color: transparent;
    width: 300px;
    height: 60px;
    background: none;
    border-radius: 30px;
    border-top: 1px solid #3A3A3A;
    border-left: 1px solid #3A3A3A;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: -10px;
    left: -14px;
    z-index: 2;
    transition: 1s;
}
button.modal-btn:hover:before {
    animation: modal-btn 0.5s linear;
}
@keyframes modal-btn {
    0% {
        top: -5px;
        left: -7px; 
    }
    100% {
        top: 0;
        left: 0;
        border: @yelow;
    }
}
span.yellow {
    color: @yelow;
}
input {
    padding: 0px 12px;
    width: 300px;
    height: 60px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.header {
    &-top {
        padding: 0% 10%;
        display: flex;
        flex-direction: row;
        background: @yelow;
        height: 50px;
        &__info {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
                display: flex;
                align-items: center;
            }
            img {
                margin-right: 10px;
            }
        }
        &__link {
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &-main {
        padding: 0% 10%;
        height: 108px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        &__logo {
            width: 20%;
        }
        &__link {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        &__contacts {
            width: 20%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            p, a {
                margin: 0;
            }
            p {
                margin-bottom: -15px;
            }
        }
    }
}

.main {
    padding: 90px 0px;
    overflow: hidden;
    &-info {
        padding: 0% 10%;
        box-shadow: 0px 0px 39px #E0E0E0;
        border-radius: 0px 30px 30px 0px;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        &__head {
            width: 70%;
            padding-top: 80px;
            padding-bottom: 150px;
                h1 {
                    .bold();
                    font-size: 3.75em;
                    margin: 0;
                    span.yelow {
                        color: @yelow;
                    }
                }
                h4 {
                    font-size: 1.5em;
                    margin-top: 20px;
                }
                &-btn {
                    display: flex;
                    flex-direction: row;
                    margin-top: 40px;
                    position: relative;
                    b {
                        position: relative;
                        top: 10px;
                        font-size: 1.25em;
                        span.small {
                            font-size: 0.875em;
                            color: #9E9D9C;
                        }
                    }
                }
        }
        &__image {
            display: inline-block;
            width: 20%;
            position: relative;

            img {
                width: 620px;
                position: absolute;
                top: -15%;
                left: -50%;
            }
        }
    }
}

.goal {
    &__adv {
        position: relative;
        top: -40px;
        padding: 40px;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 0px 39px #E0E0E0;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0% 10%;
        margin-bottom: 100px;
        &-box {
            padding: 0px 40px;
            border-left: 1px solid #E2E2E2;
            font-size: 0.875em;
            p {
                margin-top: 20px;
            }
            &-left {
                 border-left: none;
            }
        }
    }
    &__info {
        margin: 0% 10%;
        &-btn {
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            position: relative;
            &-nav {
                button.nav {
                    position: absolute;
                    padding: 14px;
                    top: 0;
                    right: 0;      
                }    
            }
            button {
                background: transparent;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                padding: 14px 54px;
                margin-right: 10px;
                transition: 0.5s;
            }
            button:hover {
                background: @yelow;
                border: 1px solid @yelow;
            }
            button.change {
                display: flex;
                justify-content: flex-start;
            }
        }
        &-cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.advantage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    padding-top: 100px;
    &-info {
        padding-left: 10%;
        margin-right: 2%;
        width: 55%;
        box-sizing: border-box;
        h5 {
            font-size: 3em;
            .bold();
            margin-bottom: 30px;
            span.yelow {
                color: @yelow;
            }
        }
        p {
            font-size: 1.125em;
            padding-bottom: 80px;
            border-bottom: 1px solid @yelow;
        }
    }
    &-image {
        background: @yelow;
        border-radius: 30px 0px 0px 30px;
        height: 500px;
        width: 43%;
        position: relative;
        img {
            width: 600px;
            position: absolute;
            bottom: 0;
            left: 10%;
        }
    }
}

.when {
    padding: 0% 10%;
    h3 {
        margin-left: 0%;
        left: 0px;
        padding: 0px;
        margin-right: 30%;
    }
    &-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-collums {
            width: 32%;
            li {
                list-style: none;
                list-style-image: url(../img/list.svg);
                padding: 20px 0px;
                font-size: 1.125em;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: center;
            b {
                position: relative;
                top: 10px;
                font-size: 1.25em;
                span.small {
                    font-size: 0.875em;
                    color: #9E9D9C;
                }
            }
    }
}

.directions {
    padding-top: 130px;
    .directions__cards {
        padding: 100px 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    p.text {
        margin-left: 10%;
        font-size: 1.125em;
        margin-bottom: 90px;
        margin-right: 20%;
    }
    &-name {
        display: flex;
        align-items: center;
        &-label {
            background: @yelow;
            box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
            border-radius: 0px 30px 30px 0px;
            height: 160px;
            width: 60%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 50px;
            padding-right: 50px;
            &-left {
                border-radius: 30px 0px 0px 30px;
                margin-right: 0px;
                margin-left: 50px;
                padding-left: 50px;
                position: relative;
                justify-content: flex-start;
            }
            img {
                position: absolute;
                width: 300px;
                top: -50%;
                left: 0;
                margin-left: 10%;
            }
            img.left {
                position: absolute;
                left: 40%;
            }
            h5 {
                font-size: 1.5em;
                text-align: right;
            }
            h5.left {
                text-align: left;
            }
        }
        &-info {
            width: 40%;
            margin-right: 10%;
            font-size: 1.125em;
            &-left {
                margin-right: 0%;
                margin-left: 10%;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
            b {
                font-size: 1.25em;
            }
    }
}

.why {
    padding-top: 100px;
    padding-bottom: 190px;
    &-label {
        display: flex;
        align-items: center;
        margin-top: 40px;
        &-name {
            background: @yelow;
            box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
            border-radius: 0px 10px 10px 0px;
            text-align: right;
            padding: 40px;
            font-size: 1.5em;
            &-30 {
                width: 40%;
            }
            &-45 {
                width: 45%;
            }
            &-50 {
                width: 60%;
            }
        }
        &-info {
            font-size: 1.125em;
            padding-left: 80px;
            padding-right: 10%;
            &-30 {
                width: 60%;
            }
            &-45 {
                width: 55%;
            }
            &-50 {
                width: 40%;
            }
        }
    }
}

.feedback {
    overflow: hidden;
    position: relative;
    &-adv {
        display: flex;
        justify-content: space-between;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
        border-radius: 10px 0px 0px 10px;
        width: 80%;
        padding: 30px 0px;
        position: relative;
        left: 20%;
        top: -50%;
        margin-bottom: 100px;
        &-box {
            width: 20%;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-right: 1px solid #E2E2E2;
            &-right {
                border: none;
            }
            b {
                font-size: 1.5em;
                .bold();
                span.numb {
                    font-size: 2em;
                    color: @yelow;
                }
            }
            p {
                font-size: 0.875em;
                color: #9E9D9C;
                margin: 0;
                text-align: center;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: flex-start;
        margin-left: 8%;
        align-items: center;
        margin-bottom: 100px;
            b {
                font-size: 1.25em;
            }
    }
}

.order {
    padding: 100px 0px;
    &-cards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding-left: 10%;
        &-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 0px 20px 55px;
            margin-right: 100px;
            &-action {
                background: @yelow;
                margin-right: 0px;
                box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
                border-radius: 10px 0px 0px 10px;
                padding: 20px 0px 100px 55px;
                &-btn {
                    position: relative;
                }
            }
            &-numb {
                padding: 0px 40px 0px 0px;
                b {
                    .bold();
                    font-size: 6.25em;
                }
                button {
                    position: absolute;
                    background: none;
                    padding: 9px 70px;
                    border: 1px solid @text_color;
                    border-radius: 30px;
                }
            }
            &-info {
                b {
                    font-size: 1.5em;
                }
                p {
                    font-size: 0.875em;
                    color: #9E9D9C;
                }
            }
        }
    }
}

.faq {
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        b {
            font-size: 1.125em;
        }
    }
}

.form {
    padding-bottom: 150px;
    &__content {
        &-label {
            padding: 0% 10%;
            &-box {
                width: 40%;
                h4 {
                    .bold();
                    font-size: 3.75em;
                    margin: 0;
                }
                p {
                    font-size: 1.125em;
                    margin: 0;
                    margin-top: 30px;
                }
                img {
                    width: 543px;
                    position: relative;
                    top: 30px;
                    left: -20%;
                }
            }
        }
    }
}

.form-footer {
    padding: 0% 10%;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    &-box {
        width: 70%;
        h3 {
            left: 0;
            padding: 0;
            margin-left: 0;
        }
        p {
            margin: 0;
            margin-top: 30px;
            padding-right: 40%;
        }
        &-mail {
            width: 30%;
            margin-left: 5%;
            form {
                margin-bottom: 20px;
                input {
                    margin-bottom: 20px;
                }
            }
            span.politic {
                color: #9E9D9C;
                a {
                    color: @yelow;
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer {
    padding: 60px 10%;
    background: @text_color;
    color: #fff;
    &-container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        &__rows {
            width: 25%;
            margin-right: 30px;
            position: relative;
            button.circle {
                background: #fff;
                margin: 0;
                margin-top: 50px;
                margin-right: 10px;
            }
            b {
                font-size: 1.125em;
                position: relative;
                top: 0rem;
            }
            span.bold {
                display: block;
                font-size: 1.25em;
                margin-top: 10px;
                .textbold();
            }
            span.small {
                color: #9E9D9C;
            }
        }
    }
    a {
        color: #fff;
        display: block;
        margin-bottom: 20px;
        font-size: 1.25em;
    }
    a.head {
        margin-bottom: 30px;
        .textbold();
    }
    a.phone {
        .textbold();
        margin: 0;
        margin-top: 10px;
    }
}

@media (max-width: 967px) {
    h3 {
        text-align: center;
        font-size: 1.75em;
        margin-left: 0%;
        max-width: 0px 30px;
        padding: 0px 20px;
        margin: 0px 30px;
        left: 0px;
        top: -0.5em;
    }
    .header {
        &-top {
            padding: 0% 30px;
            &__info {
                width: auto;
            }
            &__link {
                display: none;
            }
        }
        &-main {
            padding: 0% 30px;
            &__logo {
                width: auto;
            }
            &__link {
                display: none;
            }
            &__contacts {
                display: none;
            }
        }
    }
    .main {
        padding-top: 50px;
        &-info {
           padding: 0% 20px 0% 20px;
           margin-right: 30px;
           flex-direction: column-reverse;
           &__head {
            margin: 0;
            padding: 0;
            margin-top: 10px;
            width: 100%;
            h1 {
                font-size: 1.75em;
                margin: 0;
                margin-left: 30px;
                span.yelow {
                    display: block;
                }
            }
            h4 {
                font-size: 0.875em;
                margin-left: 30px;
            }
            &-btn {
                flex-direction: column;
                justify-content: center;
                position: relative;
                margin-left: 30px;
                b {
                    font-size: 1em;
                    position: relative;
                    left: 70px;
                    top: -45px;
                    span.small {
                        font-size: 0.875em;
                    }
                }
                button.circle{
                    margin: 0;
                    margin-right: 10px;
                    margin-top: 30px;
                }
            }
           } 
           &__image {
            width: 100%;
            img {
                position: relative;
                width: 308px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                left: 30px;
                top: 30px;
            }
           }
        }
    }
    .goal {
        &__adv {
            flex-direction: column;
            padding: 0px 40px;
            margin: 0px 30px;
            &-box {
                border-left: none;
                border-top: 1px solid #E2E2E2;
                padding: 30px 0px;
                font-size: 0.75em;
                &-left {
                    border: none;
                }
            }
        }
        &__info {
            display: none;
        }
    }
    .advantage {
        flex-direction: column;
        &-info {
            width: 100%;
            padding: 0px 30px;
            h5 {
                font-size: 1.75em;
                margin: 0;
            }
            p {
                border-bottom: none;
                font-size: 0.875em;
                padding: 0;
                margin: 0;
                margin-top: 10px;
            }
        }
        &-image {
            margin-top: 68px;
            width: 100%;
            margin-left: 30px;
            height: 270px;
            img {
                width: 336px;
            }
        }
    }
    .when {
        padding: 0px 30px;
        h3 {
            margin-right: 0%;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &-info {
            flex-direction: column;
            &-collums {
                width: 100%;
                font-size: 0.875em;
                ul {
                    margin: 0;
                    li {
                        padding: 10px 0px;
                    }
                }
            }
        }
        &-btn {
            margin-top: 40px;
            b {
                font-size: 1em;
                span.small {
                    font-size: 0.875em;
                }
            }
        }
    }
    .directions {
        h3 {
            top: -0.5em;
            padding: 0px 10px;
            margin-left: 20px;
        }
        p.text {
            margin: 0;
            padding: 0px 30px;
            font-size: 0.875em;
        }
        .line {
            margin-bottom: 10px;
        }
        &-name {
            flex-direction: column;
            &-label {
                width: 100%;
                height: 160px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 0;
                margin-right: 30px;
                h5 {
                    margin: 0;
                    padding-bottom: 30px;
                }
                img {
                    position: absolute;
                    top: 0;
                    width: 240px;
                    margin-left: 0;
                }
            }
            &-info {
                width: 100%;
            }
        }
        &__cards {
            display: none !important; 
        }
    }
}
