@font-face {
    font-family: 'OpenSans-Regular';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fester_Trial-Bold';
    src:url('../fonts/Fester_Trial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.bold() {font-family: 'Fester_Trial-Bold', sans-serif;}
.reg() {font-family: 'OpenSans-Regular', sans-serif;}
.textbold() {font-family: 'OpenSans-Bold', sans-serif;}

* {
    margin: 0;
    padding: 0;
}
body {
    .reg();
    color: @text_color;
    font-size: 1em;
    margin: 0;
}
a, input, button {
    text-decoration: none;
    outline: none;
    color: @text_color;
}
@yelow: #FFD159;
@text_color: #3A3A3A;
@gray: ##FBFBFB;

.container {
    width: 1170px;
    margin: 0px auto;
    padding: 0px 20px;
}
h3 {
    font-size: 3em;
    margin: 0;
    .bold();
    display: inline-block;
    padding: 0px 60px;
    background: #fff;
    position: relative;
    z-index: 1;
    left: -60px;
    top: -0.75em;
}
h3.gray {
    background: #F9F9F9;
}
.line {
    height: 2px;
    background: @yelow;
    position: relative;
    z-index: 0;
}
.box {
    padding: 50px 20px;
    background: transparent;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 0.875em;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.875em;
        margin: 0;
        text-align: center;
    }
}
.box:hover {
    background: @yelow;
    border: 1px solid @yelow;
    box-shadow: 0px 0px 30px rgba(134, 127, 110, 0.3);
}
button.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: @yelow;
    border: none;
    margin: 0px 10px 0px 0px;
    position: relative;
    top: 5px;
}
button.modal-btn {
    padding: 12px;
    width: 300px;
    height: 60px;
    background: @yelow;
    border-radius: 30px;
    font-size: 1.25em;
    border: none;
    position: relative;
    top: 10px;
    left: 14px;
    z-index: 1;
    transition: 1s;
}
button.modal-btn:before {
    content: '';
    color: transparent;
    width: 300px;
    height: 60px;
    background: none;
    border-radius: 30px;
    border-top: 1px solid #3A3A3A;
    border-left: 1px solid #3A3A3A;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: -10px;
    left: -14px;
    z-index: 2;
    transition: 1s;
}
button.modal-btn:hover:before {
    animation: modal-btn 0.5s linear;
}
@keyframes modal-btn {
    0% {
        top: -5px;
        left: -7px; 
    }
    100% {
        top: 0;
        left: 0;
        border: @yelow;
    }
}
span.yellow {
    color: @yelow;
}
input.text {
    padding: 0px 12px;
    width: 300px;
    height: 60px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.header {
    .header-top {
        background: @yelow;
        display: flex;
        flex-direction: row;
        height: 50px;
        &__info {
            padding-left: ~'calc((100vw - 1190px) / 2)';
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
                display: flex;
                align-items: center;
            }
            img {
                margin-right: 10px;
            }
        }
        &__link {
            padding-right: ~'calc((100vw - 1190px) / 2)';
            margin-left: auto;
            display: flex;
            width: 50%;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &-main {
        height: 108px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        &__logo {
            width: 20%;
            padding-left: ~'calc((100vw - 1190px) / 2)';
        }
        &__link {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        &__contacts {
            padding-right: ~'calc((100vw - 1190px) / 2)';
            width: 20%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            p, a {
                margin: 0;
            }
            p {
                margin-bottom: -15px;
            }
        }
    }
}
    
.breadcrumb {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    background: @gray;
    ul {
        li {
            list-style: none;
            display: inline-block;
            margin: 0px 30px;
        }
        li.active {
            opacity: 0.3;
        }
    }
}
 
.grade {
    padding: 100px 0px;
    h3 {
        margin-bottom: 0;
    }
    &__content {
        p {
            margin: 50px 0px;
            font-size: 18px;
        }
        img {
            width: 100%;
            margin-bottom: 50px;
        }
        &-list {
            display: flex;
            align-items: flex-start;
            margin-bottom: 100px;
            &-row {
                margin-right: 30px;
                font-size: 18px;
                ul {
                    padding: 0px 30px;
                    li {
                        list-style-image: url(../img/list.svg);
                        padding: 20px 0px;
                    }
                }
            }
        }
    }
}   

.change {
    padding-top: 100px;
    padding-bottom: 100px;
    &__list {
        display: flex;
        justify-content: space-between;
        &-row {
            width: 100%;
            margin-left: 24px;
            &-left {
                margin-left: 0;
            }
            .box {
                margin: 0;
                margin-bottom: 20px;
            }
            &-box {
                width: 100%;
                padding: 45px 0px;
            } 
        }
    }
}

.main {
    padding: 90px 0px 150px;
    padding-right: 50px;
    overflow: hidden;
    background: #F9F9F9;
    &-info {
        box-shadow: 0px 0px 39px #E0E0E0;
        border-radius: 0px 30px 30px 0px;
        background: #fff;
        &-content {
            display: flex;
            flex-direction: row;
        &__head {
            width: 60%;
            padding-top: 80px;
            padding-bottom: 150px;
            padding-left: ~'calc((100vw - 1190px) / 2)';
                h1 {
                    .bold();
                    font-size: 3.75em;
                    margin: 0;
                    span.yelow {
                        color: @yelow;
                    }
                }
                h4 {
                    font-size: 1.5em;
                    margin-top: 20px;
                }
                &-btn {
                    display: flex;
                    flex-direction: row;
                    margin-top: 40px;
                    position: relative;
                    button.circle {
                        margin-left: 20px;
                    }
                    b {
                        position: relative;
                        top: 10px;
                        font-size: 1.25em;
                        span.small {
                            font-size: 0.875em;
                            color: #9E9D9C;
                        }
                    }
                }
        }
        &__image {
            display: inline-block;
            width: 40%;
            position: relative;
            img {
                width: 620px;
                position: absolute;
                top: -15%;
                left: -20%;
            }
        }
    }
    }
}

.goal {
    &__adv {
        position: relative;
        top: -90px;
        padding: 40px;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 0px 39px #E0E0E0;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #fff;
        &-box {
            padding: 0px 40px;
            border-left: 1px solid #E2E2E2;
            font-size: 0.875em;
            p {
                margin-top: 20px;
            }
            &-left {
                 border-left: none;
            }
        }
    }
    &__info {
        padding-bottom: 100px;
        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
        }
        label {
            cursor: pointer;
            background: transparent;
            border: 1px solid #E2E2E2;
            border-radius: 10px;
            padding: 14px 54px;
            margin-right: 10px;
            transition: 0.5s;
        }
        label:hover {
            background: @yelow;
            border: 1px solid @yelow;
        }
        input#goals-btn:checked~label.goals-label {
            background: @yelow;
            border: 1px solid @yelow;
        }
        input#object-btn:checked~label.object-label {
            background: @yelow;
            border: 1px solid @yelow;
        }
        &__content {
            display: none;
            &-cards {
                margin-top: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        #goals-btn:checked~#goals, #object-btn:checked~#object {
            display: block;
        }
    }
}

.documents {
    padding: 0px 0px 110px 0px;
    &__content {
        margin-top: 150px;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
        border-radius: 30px;
        padding: 60px 100px;
        h3 {
            margin-bottom: 20px;
            margin-top: 30px;
        }
        &__main {
            display: flex;
            &__row {
                margin-right: 40px;
                width: 50%;
                display: grid;
                grid-template-rows: 60px 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 40px;
                grid-template-areas: "name_doc name_doc";
                h4 {
                    font-size: 18px;
                    .textbold();
                    grid-area: name_doc;
                }
                &__box {
                    margin-bottom: 40px;
                    border: 1px solid #E2E2E2;
                    border-radius: 10px;
                    padding: 80px 15px;
                    font-size: 16px;
                    position: relative;
                    transition: 0.5s;
                    span.small {
                        position: absolute;
                        bottom: 25px;
                        left: 15px;
                        color: #9E9D9C;
                        font-size: 14px;
                    }
                }
                &__box:hover {
                    border: 1px solid @yelow;
                    background: @yelow;
                }
            }
        }
    }
    &__tabs {
        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
        }
        label {
            cursor: pointer;
            background: transparent;
            border: 1px solid #E2E2E2;
            border-radius: 10px;
            padding: 14px 54px;
            margin-right: 10px;
            transition: 0.5s;
        }
        label:hover {
            background: @yelow;
            border: 1px solid @yelow;
        }
        input#rent-btn:checked~label.rent-label {
            background: @yelow;
            border: 1px solid @yelow;
        }
        input#mail-btn:checked~label.mail-label {
            background: @yelow;
            border: 1px solid @yelow;
        }
        &__content {
            margin-top: 100px;
            display: none;
            &__main {
                display: flex;
                font-display: row;
                &__col {
                    width: 100%;
                    ul {
                        padding: 0px 30px;
                        li {
                            list-style-image: url(../img/list.svg);
                        }
                    }
                }
            }
        }
        #rent-btn:checked~#rent, #mail-btn:checked~#mail {
            display: block;
        }
    }
}

.reportinfo {
    padding: 100px 0px 100px 0px;
    p {
        font-size: 20px;
    }
    &__content {
        padding: 60px 0px;
        border-bottom: 1px solid #E2E2E2;
        &__row {
            padding-left: ~'calc((100vw - 1190px) / 2)';
            padding-right: ~'calc((100vw - 1190px) / 2)';
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 250px 250px;
            grid-gap: 20px;
            grid-template-areas: 'box1 box2 box3 box4' 'box5 box6 widebox widebox';
            &-box {
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                padding: 20px;;
                &-1 {
                    grid-area: box1;
                }
                &-2 {
                    grid-area: box2;
                }
                &-3 {
                    grid-area: box3;
                }
                &-4 {
                    grid-area: box4;
                }
                &-5 {
                    grid-area: box5;
                }
                &-6 {
                    grid-area: box6;
                }
                b {
                    .bold();
                    font-size: 48px;
                    display: block;
                    border-bottom: 1px solid #E2E2E2;
                }
                span.text {
                    font-size: 18px;
                }
                &-wide {
                    grid-area: widebox;
                    margin-right: 0;
                    grid-template: none;
                    background: @yelow;
                    position: relative;
                    b {
                        border-bottom: 1px solid @text_color;
                        width: 237.5px;
                    }
                    span.text {
                        width: 237.5px;
                        display: block;
                    }
                    img {
                        width: 300px;
                        position: absolute;
                        bottom: -10%;
                        right: 0;
                    }
                }
            }
        }
    }
    &-add {
        padding: 50px 0px 100px 0px;
        h5 {
            .bold();
            font-size: 24px;
            margin-bottom: 40px;
        }
        &-content {
            display: flex;
            justify-content: space-between;
            &-row {
                ul {
                    padding: 0px 30px;
                    li {
                        list-style-image: url(../img/list.svg);
                        padding: 20px 0px;
                    }
                }
            }
        }
    }
}

.advantage {
    display: flex;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
    background: #F9F9F9;
    &-report {
        padding-top: 150px;
    }
    &-info {
        padding-left: ~'calc((100vw - 1190px) / 2)';
        width: 60%;
        margin-right: 80px;
        h5 {
            font-size: 3em;
            .bold();
            margin-bottom: 30px;
            span.yelow {
                color: @yelow;
            }
        }
        p {
            font-size: 1.125em;
            padding-bottom: 80px;
            border-bottom: 1px solid @yelow;
        }
    }
    &-image {
        background: @yelow;
        width: 40%;
        border-radius: 30px 0px 0px 30px;
        height: 500px;
        position: relative;
        &-report {
            height: 370px;
        }
        img {
            width: 600px;
            bottom: 0;
            position: absolute;
        }
        img.report {
            width: 400px;
        }
    }
}

.when {
    padding: 100px 0px;
    background: #F9F9F9;
    h3 {
        left: 0px;
        padding: 0px;
        margin-right: 30%;
    }
    &-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-collums {
            width: 32%;
            padding: 30px;
            li {
                list-style: none;
                list-style-image: url(../img/list.svg);
                padding: 20px 0px;
                font-size: 1.125em;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: center;
            b {
                position: relative;
                top: 10px;
                font-size: 1.25em;
                span.small {
                    font-size: 0.875em;
                    color: #9E9D9C;
                }
            }
    }
}

.directions {
    width: 100%;
    overflow: hidden;
    padding-top: 130px;
    position: relative;
    h3 {
        margin-left: ~"calc((100vw - 1190px) / 2)";
    }
    h6 {
        font-size: 24px;
        .textbold();
        margin-bottom: 30px;
    }
   p.text {
    font-size: 18px;
    padding-right: ~"calc((100vw - 1190px) / 2)";
    padding-left: ~"calc((100vw - 1190px) / 2)";
   }

        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            outline: none;
        }
        label {
            display: inline-block;
            cursor: pointer;
            background: #fff;
            border: 1px solid #E2E2E2;
            border-radius: 10px;
            width: 40px;
            height: 40px;
            margin-right: 0px;
            transition: 0.5s;
            position: absolute;
            top: 110px;
            outline: none;
        }
        label.table-label {
            background: #fff url(../img/table.svg) no-repeat center;
            right: ~"calc(((100vw - 1190px) / 2) + 39px)";
            border-right: none;
            border-radius: 10px 0px 0px 10px;
        }
        label.list-label {
            background: #fff url(../img/spisok.svg) no-repeat center;
            right: ~"calc((100vw - 1190px) / 2)";
            border-left: none;
            border-radius: 0px 10px 10px 0px;
        }
        label:hover {
            background-color: @yelow;
            border: 1px solid @yelow;
        }
        input#table-btn:checked~label.table-label {
            background-color: @yelow;
            border: 1px solid @yelow;
        }
        input#list-btn:checked~label.list-label {
            background-color: @yelow;
            border: 1px solid @yelow;
        }

   &-name {
    display: flex;
    align-items: center;
    &-right {
        flex-direction: row-reverse;
    }
    &-info {
        font-size: 18px;
        width: 30%;
        padding-right: ~"calc((100vw - 1190px) / 2)";
        &-right {
            padding-left: ~"calc((100vw - 1190px) / 2)";
            padding-right: 0;
        }
    }
    &-label {
        width: 70%;
        background: @yelow;
        box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
        border-radius: 0px 30px 30px 0px;
        position: relative;
        margin: 100px 0px;
        margin-right: 40px;
        &-right {
            margin-right: 0;
            margin-left: 40px;
            border-radius: 30px 0px 0px 30px;
        }
        &-image {
            padding-left: ~"calc((100vw - 1190px) / 2)";
            &-right {
                padding-left: 0;
                padding-right: ~"calc((100vw - 1190px) / 2)";
            }
        }
        h5 {
            text-align: right;
            .textbold();
            font-size: 24px;
            padding: 65px 40px;
            &.right {
                text-align: left;
            }
        }
        img {
            position: absolute;
            width: 347px;
            bottom: -30%;
            &.right {
                right: ~"calc((100vw - 1190px) / 2)";
            }
        }
    }
   }
   &__cards {
    display: flex;
    justify-content: flex-start;
   }
   &-btn {
    padding: 100px 0px;
    text-align: center;
   }
   &__tabs {
    &__content {
        display: none;
        &__list {
            padding-top: 50px;
            &__col {
                display: flex;
                ul {
                    width: 100%;
                    padding: 0px 30px;
                    border-top: 1px solid #E5E5E5;
                    margin-bottom: 10px;
                    li {
                        list-style-image: url(../img/list.svg);
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
   }
   #table-btn:checked~#table, #list-btn:checked~#list {
        display: block;
    }
}

.why {
    padding-top: 100px;
    padding-bottom: 300px;
    margin: 0px auto;
    background: #F9F9F9;
    &-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0px;
        &-name {
            padding-left: ~'calc((100vw - 1190px) / 2)';
            width: 50%;
            .textbold();
            font-size: 24px;
            padding: 40px;
            background: @yelow;
            box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
            border-radius: 0px 10px 10px 0px;
            display: flex;
            justify-content: flex-end;
            &-50 {
                width: 60%;
            }
            &-100 {
                width: 70%;
            }
        }
        &-info {
            padding-right: ~'calc((100vw - 1190px) / 2)';
            width: 50%;
            margin-left: 80px;
            &-50 {
                width: 40%;
            }
            &-100 {
                width: 30%;
            }
        }
    }
}

.feedback {
    position: relative;
    padding-top: 200px;
    &-adv {
        display: flex;
        justify-content: space-between;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
        border-radius: 10px 0px 0px 10px;
        width: 80%;
        padding: 30px 0px;
        position: absolute;
        right: 0;
        top: -150px;
        background: #fff;
        &-box {
            width: 20%;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-right: 1px solid #E2E2E2;
            &-right {
                border: none;
            }
            b {
                font-size: 1.5em;
                .bold();
                span.numb {
                    font-size: 2em;
                    color: @yelow;
                }
            }
            p {
                font-size: 0.875em;
                color: #9E9D9C;
                margin: 0;
                text-align: center;
            }
        }
    }
    &-slider {
        display: flex;
        padding-bottom: 100px;
        &-box {
            border: 1px solid #E5E5E5;
            border-radius: 10px;
            margin-left: 40px;
            height: 350px;
            padding: 40px 0px;
            position: relative;
            width: 100%;
            &-left {
                margin-left: 0px;
            }
            b {
                display: block;
                padding: 0px 20px;
                font-size: 20px;
            }
            span.date {
                padding: 0px 20px;
                color: #9E9D9C;
            }
            p {
                padding: 0px 20px;
                font-size: 14px;
            }
            h6 {
                height: 50px;
                padding: 30px 20px;
                .textbold();
                font-size: 18px;
                background-color: @yelow;
                border-radius: 0px 10px 10px 0px;
                width: ~'calc(100% - 20px)';
                margin: 20px 0px;
                display: flex;
                align-items: center;
            }
            .rating {
                position: absolute;
                right: 20px;
                top: 50px;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;
            b {
                font-size: 1.25em;
            }
    }
}

.order {
    padding: 100px 0px;
    background: #F9F9F9;
    &-cards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        &-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 0px 20px 55px;
            &-action {
                background: @yelow;
                margin-right: 0px;
                box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
                border-radius: 10px 0px 0px 10px;
                padding: 20px 0px 100px 55px;
                &-btn {
                    position: relative;
                }
            }
            &-numb {
                padding: 0px 40px 0px 0px;
                b {
                    .bold();
                    font-size: 6.25em;
                }
                button {
                    position: absolute;
                    background: none;
                    padding: 9px 70px;
                    border: 1px solid @text_color;
                    border-radius: 30px;
                }
            }
            &-info {
                b {
                    font-size: 1.5em;
                }
                p {
                    font-size: 0.875em;
                    color: #9E9D9C;
                }
            }
        }
    }
}

.faq {
    padding: 100px 0px;
    &-questions {
        margin-bottom: 50px;
        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            outline: none;
        }
        label {
            font-size: 18px;
            display: block;
            cursor: pointer;
            background: #fff;
            border: 1px solid #E5E5E5;
            border-radius: 10px;
            padding: 25px 30px;
            margin: 10px 0px;
            position: relative;
        }
        label:before {
            content: '';
            width: 15px;
            height: 10px;
            background: url(../img/arrow.svg) no-repeat center;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.5s;
        }
        input:checked~label:before {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &-answ {
            padding: 30px;
            border: 1px solid #E5E5E5;
            border-radius: 0px 0px 10px 10px;
            display: none;
        }
        
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        b {
            font-size: 1.125em;
        }
    }
    input#faq-1:checked~label.faq_name-1, input#faq-2:checked~label.faq_name-2, input#faq-3:checked~label.faq_name-3, input#faq-4:checked~label.faq_name-4, input#faq-5:checked~label.faq_name-5 {
        margin-bottom: 0;
        border-radius: 10px 10px 0px 0px;
        border-bottom: none;
        .textbold();
    }
    input#faq-1:checked~#faq-answ-1, input#faq-2:checked~#faq-answ-2, input#faq-3:checked~#faq-answ-3, input#faq-4:checked~#faq-answ-4, input#faq-5:checked~#faq-answ-5 {
        display: block;
    }
}

.sberbank {
    padding: 50px 0px;
    h3 {
        margin: 0;
    }
    h5 {
        .bold();
        font-size: 38px;
    }
    span.text {
        display: block;
        margin-bottom: 30px;
    }
    &-banner {
        color: #fff;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 30px;
        background: @text_color url(../img/sber_bg.png);
        padding: 100px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &-content {
            width: 40%;
            button.modal-btn:before {
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                border-right: 1px solid @text_color;
                border-bottom: 1px solid @text_color;
            }
        }
    }
    &-content {
        p {
            font-size: 18px;
            margin-bottom: 50px;
        }
        h3 {
            margin: 0;
        }
    }
    &-form {
        color: #fff;
        padding: 50px 50px;
        border-radius: 30px;
        background: @text_color url(../img/sberform_bg.jpg);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &-content {
            width: 40%;
            &-top {
                margin-bottom: 100px;
                border-bottom: 1px solid #fff;
                span.space {
                    display: block;
                }
                span.text {
                    margin-top: 30px;
                    width: 70%;
                }
            }
            &-bottom {
                position: relative;
                text-align: right;
                img {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }
                span.small {
                    opacity: 0.4;
                    position: relative;
                    top: -50px;
                    right: 10px;
                }
            }
        }
        &-main {
            width: 60%;
            background: #fff;
            border-radius: 30px;
            padding: 50px;
            form {
                color: @text_color;
                display: grid;
                grid-template-rows: 30px 50px 50px 20px 150px 50px;
                grid-template-columns: repeat(2,50%);
                grid-gap: 20px;
                grid-template-areas: 'head head' 'phone name' 'city city' 'map map' 'speed housetype' 'modal-btn price';
            }
            label{
                &.head {
                    grid-area: head;
                    font-size: 24px;
                    .textbold();
                }
                &.speed {
                    font-size: 24px;
                    .textbold();
                    margin-bottom: 20px;
                    display: block;
                }
                &.houset {
                    font-size: 24px;
                    .textbold();
                    margin-bottom: 20px;
                    display: block;
                }
            }
            input {
                width: 100%;
                height: 50px;
                padding: 0;
                &#phone {
                    grid-area: phone;
                }
                &#name {
                    grid-area: name;
                }
                &#city {
                    grid-area: city;
                    width: 100%;
                }
            }
            a.map {
                margin-left: auto;
                grid-area: map;
            }
            .speed {
                grid-area: speed;
                text-align: left;
                input {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    color: @yelow;
                }
            }
            .housetype {
                grid-area: housetype;
            }
            button.modal-btn {
                grid-area: modal-btn;
            }
            b.price {
                grid-area: price;
                text-align: right;
                font-size: 18px;
                color: #c6c6c6;
                span.big {
                    .textbold();
                    display: block;
                    font-size: 36px;
                    color: @text_color;
                }
            }
        }
    }
}

.form {
    padding-bottom: 150px;
    background: #F9F9F9;
    &__content {
        padding-top: 80px;
        &-label {
            display: flex;
            &-info {
                width: 40%;
                h4 {
                    .bold();
                    font-size: 3.75em;
                    margin: 0;
                    width: 90%;
                }
                p {
                    font-size: 1.125em;
                    margin: 0;
                    margin-top: 30px;
                    width: 90%;
                }
                img {
                    width: 543px;
                    position: relative;
                    top: 30px;
                    left: -20%;
                }
            }
            &-box {
                width: 60%;
            }
            form {
                background: #fff;
                border-radius: 30px;
                padding: 50px;
                display: grid;
                grid-template-rows: 50px 50px 50px 50px 50px 50px 150px 80px;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                grid-template-areas: 'namelabel typeobject' 'name type' 'phone goalform' 'mail goalchange' 'adress adress' 'map map' 'compl speed' 'modal-btn doc';
                h6.namelabel, h6.typeobject, h6.goalform, a.doc {
                    display: flex;
                    align-items: center;
                }
                h6 {
                    font-size: 24px;
                    .textbold
                }
                a.doc {
                    display: flex;
                    justify-content: end;
                    color: @yelow;
                }
                input {
                    border: 2px solid #E5E5E5;
                    border-radius: 10px;
                    padding: 15px 20px;
                }
                input.adress {
                    grid-area: adress;
                }
                span.map {
                    grid-area: map;
                    display: block;
                    text-align: right;
                }
                .speed, .compl {
                    input {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.form-footer {
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    &-box {
        width: 70%;
        h3 {
            left: 0;
            padding: 0;
            margin: 0;
        }
        p {
            margin: 0;
            margin-top: 0px;
            padding-right: 40%;
        }
        &-mail {
            width: 30%;
            margin-left: 5%;
            form {
                margin-bottom: 20px;
                input {
                    margin-bottom: 20px;
                }
            }
            span.politic {
                color: #9E9D9C;
                a {
                    color: @yelow;
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer {
    padding: 60px 0px;
    background: @text_color;
    color: #fff;
    &-container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        &__rows {
            width: 25%;
            margin-right: 30px;
            position: relative;
            button.circle {
                background: #fff;
                margin: 0;
                margin-top: 50px;
                margin-right: 10px;
            }
            b {
                font-size: 1.125em;
                position: relative;
                top: 0rem;
            }
            span.bold {
                display: block;
                font-size: 1.25em;
                margin-top: 10px;
                .textbold();
            }
            span.small {
                color: #9E9D9C;
            }
        }
    }
    a {
        color: #fff;
        display: block;
        margin-bottom: 20px;
        font-size: 1.25em;
    }
    a.head {
        margin-bottom: 30px;
        .textbold();
    }
    a.phone {
        .textbold();
        margin: 0;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100% !important;
        padding: 0px !important;
        margin: 0 auto;
    }
    h1, h3 {
        font-size: 28px !important;
        left: 0px;
    }
    button.modal-btn {
        width: 200px;
        height: 50px;
    }
    button.modal-btn:before {
        width: 200px;
        height: 50px;
    }
    button.circle {
        width: 50px;
        height: 50px;
    }
    .slick-slide {
        margin: 0px 20px;
    }
    .header {
        overflow: hidden;
        &-top {
            padding: 0px 30px;
            &__info {
                width: 100% !important;
            }
            &__link {
                display: none !important;
            }
        }
        &-main {
            padding: 0px 30px;
            &__logo {
                width: 50%;
            }
            &__link {
                display: none !important;
            }
            &__contacts {
                display: none !important;
            }
        }
    }
    .main {
        overflow: hidden;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-top: 50px;
        &-info {
            &-content {
                padding: 0px 10px 0px 30px;
                flex-direction: column-reverse;
                &__head {
                    width: 100%;
                    padding-top: 10px;
                    h4 {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    &-btn {
                        margin-top: 30px;
                        flex-direction: column;
                        position: relative;
                        button.circle {
                            margin: 0;
                            margin-top: 30px;
                        } 
                        b {
                            font-size: 1em;
                            position: absolute;
                            left: 60px;
                            top: 90px;
                            span.small {
                                font-size: 14px;
                            }
                        }

                    }
                }
                &__image {
                    width: 100%;
                    img {
                        position: relative;
                        width: 300px;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .goal {
        overflow: hidden;
        h3 {
            text-align: center;
        }
        &__adv {
            top: 0;
            flex-direction: column;
            width: 300px;
            margin: 30px auto;
            &-box {
                border-left: none;
                border-top: 1px solid #E2E2E2;
                padding: 15px 0px;
                &-left {
                    border-top: none;
                }
            }
        }
        &__info {
            text-align: center;
            padding-bottom: 50px;
            &__content{
                &-cards {
                    text-align: center;
                }
            }
        }
        .slick-active {
            background: @yelow;
        }
    }
    .advantage {
        overflow: hidden;
        flex-direction: column;
        padding-top: 50px;
        &-info {
            width: 100%;
            margin: 0;
            padding-bottom: 50px;
            h5 {
                font-size: 28px;
                padding: 0px 30px;
            }
            p {
                font-size: 14px;
                padding: 0px 30px;
                border-bottom: none;
            }
        }
        &-image {
            width: 100%;
            height: 270px;
            margin-left: 30px;
            img {
                width: 330px;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }
    }
    .when {
        overflow: hidden;
        padding: 100px 0px 50px 0px;
        h3 {
            margin: 0;
            padding: 0px 30px;
        }
        &-info {
            flex-direction: column;
            width: 100%;
            &-collums {
                margin: 0px;
                padding: 0;
                width: 100%;
                ul {
                    padding: 0px 30px 0px 60px;
                    font-size: 14px;
                }
            }
        }
        &-btn {
            padding-top: 30px;
        }
    }
    .directions {
        overflow: hidden;
        padding-top: 50px;
        h3 {
            margin: 0;
        }
        h3 {
            padding: 0px 10px !important;
            left: 20px;
        }
        p.text {
            padding: 0;
            padding: 0px 30px;
        }
        label {
            top: 30px;
        }
        label.table-label {
            right: 70px;
        }
        label.list-label {
            right: 30px;
        }
        &-name {
            flex-direction: column;
            &-label {
                width: 100%;
                height: 160px;
                margin: 100px 0px 30px 0px;
                h5 {
                    font-size: 18px;
                    text-align: center;
                    padding: 100px 30px 30px 30px;
                }
                h5.right {
                    text-align: center;
                }
                &-image {
                    img {
                        width: 240px;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 40%;
                    }
                }
            }
            &-info {
                width: 100%;
                &-content {
                    padding: 0;
                    padding: 0px 30px;
                }
            }
        }
        &__cards {
            margin: 30px 0px;
        }
        &__tabs__content__list {
            padding: 30px;
            h6 {
                font-size: 18px;
            }
        }
        &__tabs__content__list__col {
            flex-direction: column;
            ul {
                font-size: 14px;
            }
        }
        &-btn {
            padding: 30px 0px;
        }
    }
    .why {
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 20px;
        &-label {
            flex-direction: column;
            align-items: start;
            &-info {
                width: 100%;
                padding: 0px 30px;
                margin: 0;
            }
        }
    }
    .feedback {
        overflow: hidden;
        padding-top: 150px;
        &-adv {
            flex-direction: column;
            position: relative;
            width: 300px;
            margin-left: auto;
            padding: 0px 30px;
            &-box {
                width: 100%;
                padding: 0;
                border-right: none;
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 10px;
                &-right {
                    border-bottom: none;
                }
            }
        }
        h3 {
            padding: 0px 10px !important;
            left: 20px;
            text-align: center;
        }
        button.circle {
            margin-left: 30px;
        }
        &-slider {
            &-box {
                margin: 0px 40px;
                height: 350px !important;
                b {
                    font-size: 1em;
                }
                span {
                    font-size: 12px;
                }
                h6 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
                .rating {
                    display: flex;
                }
            }
        }
    }
    .order {
        overflow: hidden;
        h3.gray {
            padding: 0px 10px;
            left: 20px;
        }
        &-cards {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.8fr;
            grid-template-columns: 1fr;
            grid-gap: 50px;
            padding: 0px 30px;
            &-box {
                padding: 0;
                &-numb {
                    b {
                        font-size: 80px;
                    }
                }
                &-info {
                    b {
                        font-size: 18px;
                        .textbold();
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .faq {
        overflow: hidden;
        padding-bottom: 0;
        h3 {
            padding: 0px 1px;
            display: inline-block;
            text-align: center;
        }
        &-questions {
            padding: 0px 30px;
            label {
                font-size: 14px;
            }
        }
        &-answ {
            font-size: 14px;
        }
    }
    .form {
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 30px;
        &__content {
            padding-top: 0;
            &-label {
                flex-direction: column;
                &-info {
                    width: 100%;
                    padding: 0px 30px;
                    display: flex;
                    flex-direction: column-reverse;
                    img {
                        width: 300px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    h4 {
                        font-size: 28px;
                        margin-top: 15px;
                    }
                    p {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
                &-box {
                    width: 100%;
                    margin-top: 30px;
                    form {
                        width: ~'calc(100vw - 120px)';
                        margin: 0px auto;
                        padding: 30px;
                        grid-template-rows: repeat(10, 50px) repeat(2, 150px) 50px 80px;
                        grid-template-columns: 100%;
                        grid-template-areas:'namelabel' 
                                            'name' 
                                            'phone' 
                                            'mail' 
                                            'adress'
                                            'map' 
                                            'typeobject'
                                            'type'
                                            'goalform'
                                            'goalchange' 
                                            'compl'
                                            'speed' 
                                            'doc' 
                                            'modal-btn'
                                            ;
                        h6 {
                            font-size: 18px;
                        }
                        h6.namelabel {
                            grid-area: namelabel;
                        }
                        input.name {
                            grid-area: name;
                        }
                        input.phone {
                            grid-area: phone;
                        }
                        input.mail {
                            grid-area: mail;
                        }
                        input.adress {
                            grid-area: adress;
                        }
                        span.map {
                            grid-area: map;
                        }
                        h6.typeobject {
                            grid-area: typeobject;
                        }
                        input.type {
                            grid-area: type;
                        }
                        h6.goalform {
                            grid-area: goalform;
                        }
                        input.goalchange {
                            grid-area: goalchange;
                        }
                        a.doc {
                            grid-area: doc;
                        }
                    }
                }
            }
        }
    }
    .form-footer {
        overflow: hidden;
        flex-direction: column;
        padding: 40px 30px 40px 30px;
        &-box {
            width: 100%;
            p {
                padding-right: 0;
                font-size: 14px;
                margin-bottom: 20px;
            }
            &-mail {
                margin: 0;
                span.politic {
                    font-size: 14px;
                }
            }
        }
    }
    .footer {
        display: none;
    }
}
