

@font-face {
    font-family: 'Lobster-Regular';
    src:url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.reg() {
    font-family: 'CormorantGaramond-Regular', sans-serif;
}
.bold() {
    font-family: 'CormorantGaramond-Bold', sans-serif;
}
.headlines() {
    font-family: 'Lobster-Regular', sans-serif;
}
@blue: #263b56;

html {
    font-size: 10px;
}
body {
    .reg();
    text-align: center;
}
button, input, a, textarea {
    &:focus {
        outline: none;
    }
}
a {
    text-decoration: none;
}
.main {
	padding: 2rem;
	background: url(../img/main_bg.jpg) no-repeat top;
	&-header {
		img {
			width: 128px;
			height: 128px;
			border-radius: 100px;
		}
	}
	&-menu {
		margin-top: 2rem;
		font-size: 1.8rem;
		background-color: @blue;
		opacity: .9;
		height: 30px;
		a {
			margin-right: 2rem;
			color: #fff;
		}
	}
	&-form {
		color: #fff;
		padding: 3rem;
		margin-top: 2rem;
		text-align: left;
		background-color: @blue;
		font-size: 1.4rem;
		opacity: .9;
		h1 {
			.headlines();
			text-align: center;
			font-size: 1.6rem;
		}
		.inp {
			font-size: 1.4rem;
			width: 20rem;
			margin-right: 2rem;
		}
		input {
			font-size: 1.4rem;
			padding: 0.6rem;
		}
		h2 {
			font-size: 1.4rem;
			margin-top: 1rem;
		}
	}
}


@media (max-width: 767px) {
	.main-form {
		padding: 1rem;
	}
}