@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Rubik-Regular', sans-serif;
  font-size: 10px;
  text-align: center;
}
a,
input {
  text-decoration: none;
}
input {
  border: none;
}
input:active {
  border: none;
}
.main {
  height: 100vh;
}
.header {
  padding: 1rem;
}
.header-logo {
  font-family: 'Rubik-Bold', sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.header-adress {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.header-phone {
  text-align: right;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.header-phone a {
  color: #154d86;
}
.header-phone a:hover {
  border-bottom: 2px solid #154d86;
  transition: 0.5s;
}
.home-text {
  margin-top: 15%;
  text-align: left;
}
.home-text h1 {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 2.4rem;
}
.home-text h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.6rem;
}
.home-text button.connect {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 2px solid;
  border-radius: 3rem;
  background: linear-gradient(#154d86, #0e345b);
  color: #fff;
}
.home-text button.connect:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px #000;
  transition: 0.5s;
}
.home-robot {
  position: absolute;
  z-index: -1;
}
.home-robot img {
  max-height: 70vh;
  transform: translateY(0%) translateX(-18%);
}
.price {
  padding: 3rem;
  height: 100vh;
}
.price h5 {
  font-size: 1.8rem;
  font-family: 'Rubik-Bold', sans-serif;
  margin-bottom: 2rem;
}
.price-usl {
  font-size: 1.2rem;
  margin: 1rem;
}
.price-block {
  border: 1px solid #f0f0f0;
  border-radius: 2rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
  margin: 1rem;
}
.price-block img {
  display: block;
  text-align: center;
  max-width: 90%;
  border: 1px solid #f0f0f0;
  border-radius: 2rem;
}
.price-block b {
  font-family: 'Rubik-Bold', sans-serif;
  font-size: 1.4rem;
}
.price-block li {
  font-size: 1rem;
  margin-left: 5%;
  text-align: left;
}
.price-block-btn {
  text-align: center;
}
.price-block button {
  border: 2px solid;
  border-radius: 3rem;
  background: linear-gradient(#154d86, #0e345b);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
}
.product {
  padding: 4rem;
  height: 100vh;
}
.product h5 {
  font-size: 1.8rem;
  font-family: 'Rubik-Bold', sans-serif;
  margin-bottom: 2rem;
}
.product-information {
  font-size: 1rem;
  text-align: left;
  margin-top: 3%;
}
.product-information b {
  font-size: 1.2rem;
  font-family: 'Rubik-Bold', sans-serif;
}
.product-information p {
  text-align: justify;
}
.modal input {
  display: block;
  margin: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-bottom: 3px solid #154d86;
}
.modal input.name {
  background: url(../img/name.png) no-repeat left center;
}
.modal input.phone {
  background: url(../img/phone.png) no-repeat left center;
}
.modal input:focus {
  outline: none;
  border-bottom: 3px solid #000;
  transition: 0.5s;
}
p.contact-form__message {
  text-align: center;
  font-size: 1.4rem;
}
@media (max-width: 415px) {
  .header-logo {
    text-align: center;
  }
  .header-phone {
    text-align: center;
  }
  .home-text {
    margin-top: 30%;
    display: inline-block;
  }
  .home-text h1 {
    font-size: 1.8rem;
  }
  .home-text h2 {
    font-size: 1.4rem;
  }
  .home-text button.connect {
    font-size: 1.4rem;
  }
  .home-robot {
    display: inline;
    position: absolute;
    left: 14rem;
    top: 4rem;
  }
  .home-robot img {
    max-height: 80vh;
    opacity: 0.6;
  }
  .price {
    padding: 3rem 0.5rem;
  }
  .product {
    padding: 3rem 1rem;
    height: 100%;
  }
}
