@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fester_Trial-Bold';
  src: url('../fonts/Fester_Trial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: #3a3a3a;
  font-size: 1em;
  margin: 0;
}
a,
input,
button {
  text-decoration: none;
  outline: none;
  color: #3a3a3a;
}
.container {
  width: 1170px;
  margin: 0px auto;
  padding: 0px 20px;
}
h3 {
  font-size: 3em;
  margin: 0;
  font-family: 'Fester_Trial-Bold', sans-serif;
  display: inline-block;
  padding: 0px 60px;
  background: #fff;
  position: relative;
  z-index: 1;
  left: -60px;
  top: -0.75em;
}
h3.gray {
  background: #F9F9F9;
}
.line {
  height: 2px;
  background: #ffd159;
  position: relative;
  z-index: 0;
}
.box {
  padding: 50px 20px;
  background: transparent;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 0.875em;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box p {
  font-size: 0.875em;
  margin: 0;
  text-align: center;
}
.box:hover {
  background: #ffd159;
  border: 1px solid #ffd159;
  -webkit-box-shadow: 0px 0px 30px rgba(134, 127, 110, 0.3);
          box-shadow: 0px 0px 30px rgba(134, 127, 110, 0.3);
}
button.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffd159;
  border: none;
  margin: 0px 10px 0px 0px;
  position: relative;
  top: 5px;
}
button.modal-btn {
  padding: 12px;
  width: 300px;
  height: 60px;
  background: #ffd159;
  border-radius: 30px;
  font-size: 1.25em;
  border: none;
  position: relative;
  top: 10px;
  left: 14px;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
button.modal-btn:before {
  content: '';
  color: transparent;
  width: 300px;
  height: 60px;
  background: none;
  border-radius: 30px;
  border-top: 1px solid #3A3A3A;
  border-left: 1px solid #3A3A3A;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: -10px;
  left: -14px;
  z-index: 2;
  -webkit-transition: 1s;
  transition: 1s;
}
button.modal-btn:hover:before {
  -webkit-animation: modal-btn 0.5s linear;
          animation: modal-btn 0.5s linear;
}
@-webkit-keyframes modal-btn {
  0% {
    top: -5px;
    left: -7px;
  }
  100% {
    top: 0;
    left: 0;
    border: #ffd159;
  }
}
@keyframes modal-btn {
  0% {
    top: -5px;
    left: -7px;
  }
  100% {
    top: 0;
    left: 0;
    border: #ffd159;
  }
}
span.yellow {
  color: #ffd159;
}
input.text {
  padding: 0px 12px;
  width: 300px;
  height: 60px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}
.header .header-top {
  background: #ffd159;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}
.header .header-top__info {
  padding-left: calc((100vw - 1190px) / 2);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .header-top__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-top__info img {
  margin-right: 10px;
}
.header .header-top__link {
  padding-right: calc((100vw - 1190px) / 2);
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-top__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
}
.header-main__logo {
  width: 20%;
  padding-left: calc((100vw - 1190px) / 2);
}
.header-main__link {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-main__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__contacts {
  padding-right: calc((100vw - 1190px) / 2);
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-main__contacts p,
.header-main__contacts a {
  margin: 0;
}
.header-main__contacts p {
  margin-bottom: -15px;
}
.breadcrumb {
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: ##FBFBFB;
}
.breadcrumb ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 30px;
}
.breadcrumb ul li.active {
  opacity: 0.3;
}
.grade {
  padding: 100px 0px;
}
.grade h3 {
  margin-bottom: 0;
}
.grade__content p {
  margin: 50px 0px;
  font-size: 18px;
}
.grade__content img {
  width: 100%;
  margin-bottom: 50px;
}
.grade__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}
.grade__content-list-row {
  margin-right: 30px;
  font-size: 18px;
}
.grade__content-list-row ul {
  padding: 0px 30px;
}
.grade__content-list-row ul li {
  list-style-image: url(../img/list.svg);
  padding: 20px 0px;
}
.change {
  padding-top: 100px;
  padding-bottom: 100px;
}
.change__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.change__list-row {
  width: 100%;
  margin-left: 24px;
}
.change__list-row-left {
  margin-left: 0;
}
.change__list-row .box {
  margin: 0;
  margin-bottom: 20px;
}
.change__list-row-box {
  width: 100%;
  padding: 45px 0px;
}
.main {
  padding: 90px 0px 150px;
  padding-right: 50px;
  overflow: hidden;
  background: #F9F9F9;
}
.main-info {
  -webkit-box-shadow: 0px 0px 39px #E0E0E0;
          box-shadow: 0px 0px 39px #E0E0E0;
  border-radius: 0px 30px 30px 0px;
  background: #fff;
}
.main-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-info-content__head {
  width: 60%;
  padding-top: 80px;
  padding-bottom: 150px;
  padding-left: calc((100vw - 1190px) / 2);
}
.main-info-content__head h1 {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 3.75em;
  margin: 0;
}
.main-info-content__head h1 span.yelow {
  color: #ffd159;
}
.main-info-content__head h4 {
  font-size: 1.5em;
  margin-top: 20px;
}
.main-info-content__head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
  position: relative;
}
.main-info-content__head-btn button.circle {
  margin-left: 20px;
}
.main-info-content__head-btn b {
  position: relative;
  top: 10px;
  font-size: 1.25em;
}
.main-info-content__head-btn b span.small {
  font-size: 0.875em;
  color: #9E9D9C;
}
.main-info-content__image {
  display: inline-block;
  width: 40%;
  position: relative;
}
.main-info-content__image img {
  width: 620px;
  position: absolute;
  top: -15%;
  left: -20%;
}
.goal__adv {
  position: relative;
  top: -90px;
  padding: 40px;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: 0px 0px 39px #E0E0E0;
          box-shadow: 0px 0px 39px #E0E0E0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}
.goal__adv-box {
  padding: 0px 40px;
  border-left: 1px solid #E2E2E2;
  font-size: 0.875em;
}
.goal__adv-box p {
  margin-top: 20px;
}
.goal__adv-box-left {
  border-left: none;
}
.goal__info {
  padding-bottom: 100px;
}
.goal__info input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}
.goal__info label {
  cursor: pointer;
  background: transparent;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  padding: 14px 54px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.goal__info label:hover {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.goal__info input#goals-btn:checked ~ label.goals-label {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.goal__info input#object-btn:checked ~ label.object-label {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.goal__info__content {
  display: none;
}
.goal__info__content-cards {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.goal__info #goals-btn:checked ~ #goals,
.goal__info #object-btn:checked ~ #object {
  display: block;
}
.documents {
  padding: 0px 0px 110px 0px;
}
.documents__content {
  margin-top: 150px;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
          box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
  border-radius: 30px;
  padding: 60px 100px;
}
.documents__content h3 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.documents__content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.documents__content__main__row {
  margin-right: 40px;
  width: 50%;
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "name_doc name_doc";
}
.documents__content__main__row h4 {
  font-size: 18px;
  font-family: 'OpenSans-Bold', sans-serif;
  grid-area: name_doc;
}
.documents__content__main__row__box {
  margin-bottom: 40px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  padding: 80px 15px;
  font-size: 16px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.documents__content__main__row__box span.small {
  position: absolute;
  bottom: 25px;
  left: 15px;
  color: #9E9D9C;
  font-size: 14px;
}
.documents__content__main__row__box:hover {
  border: 1px solid #ffd159;
  background: #ffd159;
}
.documents__tabs input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}
.documents__tabs label {
  cursor: pointer;
  background: transparent;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  padding: 14px 54px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.documents__tabs label:hover {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.documents__tabs input#rent-btn:checked ~ label.rent-label {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.documents__tabs input#mail-btn:checked ~ label.mail-label {
  background: #ffd159;
  border: 1px solid #ffd159;
}
.documents__tabs__content {
  margin-top: 100px;
  display: none;
}
.documents__tabs__content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
}
.documents__tabs__content__main__col {
  width: 100%;
}
.documents__tabs__content__main__col ul {
  padding: 0px 30px;
}
.documents__tabs__content__main__col ul li {
  list-style-image: url(../img/list.svg);
}
.documents__tabs #rent-btn:checked ~ #rent,
.documents__tabs #mail-btn:checked ~ #mail {
  display: block;
}
.reportinfo {
  padding: 100px 0px 100px 0px;
}
.reportinfo p {
  font-size: 20px;
}
.reportinfo__content {
  padding: 60px 0px;
  border-bottom: 1px solid #E2E2E2;
}
.reportinfo__content__row {
  padding-left: calc((100vw - 1190px) / 2);
  padding-right: calc((100vw - 1190px) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-gap: 20px;
  grid-template-areas: 'box1 box2 box3 box4' 'box5 box6 widebox widebox';
}
.reportinfo__content__row-box {
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  padding: 20px;
}
.reportinfo__content__row-box-1 {
  grid-area: box1;
}
.reportinfo__content__row-box-2 {
  grid-area: box2;
}
.reportinfo__content__row-box-3 {
  grid-area: box3;
}
.reportinfo__content__row-box-4 {
  grid-area: box4;
}
.reportinfo__content__row-box-5 {
  grid-area: box5;
}
.reportinfo__content__row-box-6 {
  grid-area: box6;
}
.reportinfo__content__row-box b {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 48px;
  display: block;
  border-bottom: 1px solid #E2E2E2;
}
.reportinfo__content__row-box span.text {
  font-size: 18px;
}
.reportinfo__content__row-box-wide {
  grid-area: widebox;
  margin-right: 0;
  grid-template: none;
  background: #ffd159;
  position: relative;
}
.reportinfo__content__row-box-wide b {
  border-bottom: 1px solid #3a3a3a;
  width: 237.5px;
}
.reportinfo__content__row-box-wide span.text {
  width: 237.5px;
  display: block;
}
.reportinfo__content__row-box-wide img {
  width: 300px;
  position: absolute;
  bottom: -10%;
  right: 0;
}
.reportinfo-add {
  padding: 50px 0px 100px 0px;
}
.reportinfo-add h5 {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}
.reportinfo-add-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reportinfo-add-content-row ul {
  padding: 0px 30px;
}
.reportinfo-add-content-row ul li {
  list-style-image: url(../img/list.svg);
  padding: 20px 0px;
}
.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  width: 100%;
  overflow: hidden;
  background: #F9F9F9;
}
.advantage-report {
  padding-top: 150px;
}
.advantage-info {
  padding-left: calc((100vw - 1190px) / 2);
  width: 60%;
  margin-right: 80px;
}
.advantage-info h5 {
  font-size: 3em;
  font-family: 'Fester_Trial-Bold', sans-serif;
  margin-bottom: 30px;
}
.advantage-info h5 span.yelow {
  color: #ffd159;
}
.advantage-info p {
  font-size: 1.125em;
  padding-bottom: 80px;
  border-bottom: 1px solid #ffd159;
}
.advantage-image {
  background: #ffd159;
  width: 40%;
  border-radius: 30px 0px 0px 30px;
  height: 500px;
  position: relative;
}
.advantage-image-report {
  height: 370px;
}
.advantage-image img {
  width: 600px;
  bottom: 0;
  position: absolute;
}
.advantage-image img.report {
  width: 400px;
}
.when {
  padding: 100px 0px;
  background: #F9F9F9;
}
.when h3 {
  left: 0px;
  padding: 0px;
  margin-right: 30%;
}
.when-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.when-info-collums {
  width: 32%;
  padding: 30px;
}
.when-info-collums li {
  list-style: none;
  list-style-image: url(../img/list.svg);
  padding: 20px 0px;
  font-size: 1.125em;
}
.when-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.when-btn b {
  position: relative;
  top: 10px;
  font-size: 1.25em;
}
.when-btn b span.small {
  font-size: 0.875em;
  color: #9E9D9C;
}
.directions {
  width: 100%;
  overflow: hidden;
  padding-top: 130px;
  position: relative;
}
.directions h3 {
  margin-left: calc((100vw - 1190px) / 2);
}
.directions h6 {
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
  margin-bottom: 30px;
}
.directions p.text {
  font-size: 18px;
  padding-right: calc((100vw - 1190px) / 2);
  padding-left: calc((100vw - 1190px) / 2);
}
.directions input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  outline: none;
}
.directions label {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-right: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 110px;
  outline: none;
}
.directions label.table-label {
  background: #ffffff url(../img/table.svg) no-repeat center;
  right: calc(((100vw - 1190px) / 2) + 39px);
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}
.directions label.list-label {
  background: #ffffff url(../img/spisok.svg) no-repeat center;
  right: calc((100vw - 1190px) / 2);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}
.directions label:hover {
  background-color: #ffd159;
  border: 1px solid #ffd159;
}
.directions input#table-btn:checked ~ label.table-label {
  background-color: #ffd159;
  border: 1px solid #ffd159;
}
.directions input#list-btn:checked ~ label.list-label {
  background-color: #ffd159;
  border: 1px solid #ffd159;
}
.directions-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.directions-name-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.directions-name-info {
  font-size: 18px;
  width: 30%;
  padding-right: calc((100vw - 1190px) / 2);
}
.directions-name-info-right {
  padding-left: calc((100vw - 1190px) / 2);
  padding-right: 0;
}
.directions-name-label {
  width: 70%;
  background: #ffd159;
  -webkit-box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
          box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
  border-radius: 0px 30px 30px 0px;
  position: relative;
  margin: 100px 0px;
  margin-right: 40px;
}
.directions-name-label-right {
  margin-right: 0;
  margin-left: 40px;
  border-radius: 30px 0px 0px 30px;
}
.directions-name-label-image {
  padding-left: calc((100vw - 1190px) / 2);
}
.directions-name-label-image-right {
  padding-left: 0;
  padding-right: calc((100vw - 1190px) / 2);
}
.directions-name-label h5 {
  text-align: right;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  padding: 65px 40px;
}
.directions-name-label h5.right {
  text-align: left;
}
.directions-name-label img {
  position: absolute;
  width: 347px;
  bottom: -30%;
}
.directions-name-label img.right {
  right: calc((100vw - 1190px) / 2);
}
.directions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.directions-btn {
  padding: 100px 0px;
  text-align: center;
}
.directions__tabs__content {
  display: none;
}
.directions__tabs__content__list {
  padding-top: 50px;
}
.directions__tabs__content__list__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.directions__tabs__content__list__col ul {
  width: 100%;
  padding: 0px 30px;
  border-top: 1px solid #E5E5E5;
  margin-bottom: 10px;
}
.directions__tabs__content__list__col ul li {
  list-style-image: url(../img/list.svg);
  padding: 10px 0px;
}
.directions #table-btn:checked ~ #table,
.directions #list-btn:checked ~ #list {
  display: block;
}
.why {
  padding-top: 100px;
  padding-bottom: 300px;
  margin: 0px auto;
  background: #F9F9F9;
}
.why-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}
.why-label-name {
  padding-left: calc((100vw - 1190px) / 2);
  width: 50%;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  padding: 40px;
  background: #ffd159;
  -webkit-box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
          box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.why-label-name-50 {
  width: 60%;
}
.why-label-name-100 {
  width: 70%;
}
.why-label-info {
  padding-right: calc((100vw - 1190px) / 2);
  width: 50%;
  margin-left: 80px;
}
.why-label-info-50 {
  width: 40%;
}
.why-label-info-100 {
  width: 30%;
}
.feedback {
  position: relative;
  padding-top: 200px;
}
.feedback-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
          box-shadow: 0px 0px 52px rgba(169, 169, 169, 0.3);
  border-radius: 10px 0px 0px 10px;
  width: 80%;
  padding: 30px 0px;
  position: absolute;
  right: 0;
  top: -150px;
  background: #fff;
}
.feedback-adv-box {
  width: 20%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-right: 1px solid #E2E2E2;
}
.feedback-adv-box-right {
  border: none;
}
.feedback-adv-box b {
  font-size: 1.5em;
  font-family: 'Fester_Trial-Bold', sans-serif;
}
.feedback-adv-box b span.numb {
  font-size: 2em;
  color: #ffd159;
}
.feedback-adv-box p {
  font-size: 0.875em;
  color: #9E9D9C;
  margin: 0;
  text-align: center;
}
.feedback-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.feedback-slider-box {
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  margin-left: 40px;
  height: 350px;
  padding: 40px 0px;
  position: relative;
  width: 100%;
}
.feedback-slider-box-left {
  margin-left: 0px;
}
.feedback-slider-box b {
  display: block;
  padding: 0px 20px;
  font-size: 20px;
}
.feedback-slider-box span.date {
  padding: 0px 20px;
  color: #9E9D9C;
}
.feedback-slider-box p {
  padding: 0px 20px;
  font-size: 14px;
}
.feedback-slider-box h6 {
  height: 50px;
  padding: 30px 20px;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 18px;
  background-color: #ffd159;
  border-radius: 0px 10px 10px 0px;
  width: calc(100% - 20px);
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback-slider-box .rating {
  position: absolute;
  right: 20px;
  top: 50px;
}
.feedback-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.feedback-btn b {
  font-size: 1.25em;
}
.order {
  padding: 100px 0px;
  background: #F9F9F9;
}
.order-cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.order-cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 55px;
}
.order-cards-box-action {
  background: #ffd159;
  margin-right: 0px;
  -webkit-box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
          box-shadow: 0px 0px 20px rgba(134, 127, 110, 0.2);
  border-radius: 10px 0px 0px 10px;
  padding: 20px 0px 100px 55px;
}
.order-cards-box-action-btn {
  position: relative;
}
.order-cards-box-numb {
  padding: 0px 40px 0px 0px;
}
.order-cards-box-numb b {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 6.25em;
}
.order-cards-box-numb button {
  position: absolute;
  background: none;
  padding: 9px 70px;
  border: 1px solid #3a3a3a;
  border-radius: 30px;
}
.order-cards-box-info b {
  font-size: 1.5em;
}
.order-cards-box-info p {
  font-size: 0.875em;
  color: #9E9D9C;
}
.faq {
  padding: 100px 0px;
}
.faq-questions {
  margin-bottom: 50px;
}
.faq-questions input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  outline: none;
}
.faq-questions label {
  font-size: 18px;
  display: block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 25px 30px;
  margin: 10px 0px;
  position: relative;
}
.faq-questions label:before {
  content: '';
  width: 15px;
  height: 10px;
  background: url(../img/arrow.svg) no-repeat center;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faq-questions input:checked ~ label:before {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.faq-answ {
  padding: 30px;
  border: 1px solid #E5E5E5;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.faq-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}
.faq-btn b {
  font-size: 1.125em;
}
.faq input#faq-1:checked ~ label.faq_name-1,
.faq input#faq-2:checked ~ label.faq_name-2,
.faq input#faq-3:checked ~ label.faq_name-3,
.faq input#faq-4:checked ~ label.faq_name-4,
.faq input#faq-5:checked ~ label.faq_name-5 {
  margin-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
  font-family: 'OpenSans-Bold', sans-serif;
}
.faq input#faq-1:checked ~ #faq-answ-1,
.faq input#faq-2:checked ~ #faq-answ-2,
.faq input#faq-3:checked ~ #faq-answ-3,
.faq input#faq-4:checked ~ #faq-answ-4,
.faq input#faq-5:checked ~ #faq-answ-5 {
  display: block;
}
.sberbank {
  padding: 50px 0px;
}
.sberbank h3 {
  margin: 0;
}
.sberbank h5 {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 38px;
}
.sberbank span.text {
  display: block;
  margin-bottom: 30px;
}
.sberbank-banner {
  color: #fff;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  background: #3a3a3a url(../img/sber_bg.png);
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sberbank-banner-content {
  width: 40%;
}
.sberbank-banner-content button.modal-btn:before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
}
.sberbank-content p {
  font-size: 18px;
  margin-bottom: 50px;
}
.sberbank-content h3 {
  margin: 0;
}
.sberbank-form {
  color: #fff;
  padding: 50px 50px;
  border-radius: 30px;
  background: #3a3a3a url(../img/sberform_bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sberbank-form-content {
  width: 40%;
}
.sberbank-form-content-top {
  margin-bottom: 100px;
  border-bottom: 1px solid #fff;
}
.sberbank-form-content-top span.space {
  display: block;
}
.sberbank-form-content-top span.text {
  margin-top: 30px;
  width: 70%;
}
.sberbank-form-content-bottom {
  position: relative;
  text-align: right;
}
.sberbank-form-content-bottom img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.sberbank-form-content-bottom span.small {
  opacity: 0.4;
  position: relative;
  top: -50px;
  right: 10px;
}
.sberbank-form-main {
  width: 60%;
  background: #fff;
  border-radius: 30px;
  padding: 50px;
}
.sberbank-form-main form {
  color: #3a3a3a;
  display: grid;
  grid-template-rows: 30px 50px 50px 20px 150px 50px;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  grid-template-areas: 'head head' 'phone name' 'city city' 'map map' 'speed housetype' 'modal-btn price';
}
.sberbank-form-main label.head {
  grid-area: head;
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
}
.sberbank-form-main label.speed {
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
  margin-bottom: 20px;
  display: block;
}
.sberbank-form-main label.houset {
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
  margin-bottom: 20px;
  display: block;
}
.sberbank-form-main input {
  width: 100%;
  height: 50px;
  padding: 0;
}
.sberbank-form-main input#phone {
  grid-area: phone;
}
.sberbank-form-main input#name {
  grid-area: name;
}
.sberbank-form-main input#city {
  grid-area: city;
  width: 100%;
}
.sberbank-form-main a.map {
  margin-left: auto;
  grid-area: map;
}
.sberbank-form-main .speed {
  grid-area: speed;
  text-align: left;
}
.sberbank-form-main .speed input {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #ffd159;
}
.sberbank-form-main .housetype {
  grid-area: housetype;
}
.sberbank-form-main button.modal-btn {
  grid-area: modal-btn;
}
.sberbank-form-main b.price {
  grid-area: price;
  text-align: right;
  font-size: 18px;
  color: #c6c6c6;
}
.sberbank-form-main b.price span.big {
  font-family: 'OpenSans-Bold', sans-serif;
  display: block;
  font-size: 36px;
  color: #3a3a3a;
}
.form {
  padding-bottom: 150px;
  background: #F9F9F9;
}
.form__content {
  padding-top: 80px;
}
.form__content-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__content-label-info {
  width: 40%;
}
.form__content-label-info h4 {
  font-family: 'Fester_Trial-Bold', sans-serif;
  font-size: 3.75em;
  margin: 0;
  width: 90%;
}
.form__content-label-info p {
  font-size: 1.125em;
  margin: 0;
  margin-top: 30px;
  width: 90%;
}
.form__content-label-info img {
  width: 543px;
  position: relative;
  top: 30px;
  left: -20%;
}
.form__content-label-box {
  width: 60%;
}
.form__content-label form {
  background: #fff;
  border-radius: 30px;
  padding: 50px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 150px 80px;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-template-areas: 'namelabel typeobject' 'name type' 'phone goalform' 'mail goalchange' 'adress adress' 'map map' 'compl speed' 'modal-btn doc';
}
.form__content-label form h6.namelabel,
.form__content-label form h6.typeobject,
.form__content-label form h6.goalform,
.form__content-label form a.doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__content-label form h6 {
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
}
.form__content-label form a.doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #ffd159;
}
.form__content-label form input {
  border: 2px solid #E5E5E5;
  border-radius: 10px;
  padding: 15px 20px;
}
.form__content-label form input.adress {
  grid-area: adress;
}
.form__content-label form span.map {
  grid-area: map;
  display: block;
  text-align: right;
}
.form__content-label form .speed input,
.form__content-label form .compl input {
  margin-right: 10px;
}
.form-footer {
  padding-top: 150px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-footer-box {
  width: 70%;
}
.form-footer-box h3 {
  left: 0;
  padding: 0;
  margin: 0;
}
.form-footer-box p {
  margin: 0;
  margin-top: 0px;
  padding-right: 40%;
}
.form-footer-box-mail {
  width: 30%;
  margin-left: 5%;
}
.form-footer-box-mail form {
  margin-bottom: 20px;
}
.form-footer-box-mail form input {
  margin-bottom: 20px;
}
.form-footer-box-mail span.politic {
  color: #9E9D9C;
}
.form-footer-box-mail span.politic a {
  color: #ffd159;
  text-decoration: underline;
}
.footer {
  padding: 60px 0px;
  background: #3a3a3a;
  color: #fff;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-container__rows {
  width: 25%;
  margin-right: 30px;
  position: relative;
}
.footer-container__rows button.circle {
  background: #fff;
  margin: 0;
  margin-top: 50px;
  margin-right: 10px;
}
.footer-container__rows b {
  font-size: 1.125em;
  position: relative;
  top: 0rem;
}
.footer-container__rows span.bold {
  display: block;
  font-size: 1.25em;
  margin-top: 10px;
  font-family: 'OpenSans-Bold', sans-serif;
}
.footer-container__rows span.small {
  color: #9E9D9C;
}
.footer a {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 1.25em;
}
.footer a.head {
  margin-bottom: 30px;
  font-family: 'OpenSans-Bold', sans-serif;
}
.footer a.phone {
  font-family: 'OpenSans-Bold', sans-serif;
  margin: 0;
  margin-top: 10px;
}
@media (max-width: 700px) {
  .container {
    width: 100% !important;
    padding: 0px !important;
    margin: 0 auto;
  }
  h1,
  h3 {
    font-size: 28px !important;
    left: 0px;
  }
  button.modal-btn {
    width: 200px;
    height: 50px;
  }
  button.modal-btn:before {
    width: 200px;
    height: 50px;
  }
  button.circle {
    width: 50px;
    height: 50px;
  }
  .slick-slide {
    margin: 0px 20px;
  }
  .header {
    overflow: hidden;
  }
  .header-top {
    padding: 0px 30px;
  }
  .header-top__info {
    width: 100% !important;
  }
  .header-top__link {
    display: none !important;
  }
  .header-main {
    padding: 0px 30px;
  }
  .header-main__logo {
    width: 50%;
  }
  .header-main__link {
    display: none !important;
  }
  .header-main__contacts {
    display: none !important;
  }
  .main {
    overflow: hidden;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .main-info-content {
    padding: 0px 10px 0px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-info-content__head {
    width: 100%;
    padding-top: 10px;
  }
  .main-info-content__head h4 {
    font-size: 14px;
    margin-top: 10px;
  }
  .main-info-content__head-btn {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .main-info-content__head-btn button.circle {
    margin: 0;
    margin-top: 30px;
  }
  .main-info-content__head-btn b {
    font-size: 1em;
    position: absolute;
    left: 60px;
    top: 90px;
  }
  .main-info-content__head-btn b span.small {
    font-size: 14px;
  }
  .main-info-content__image {
    width: 100%;
  }
  .main-info-content__image img {
    position: relative;
    width: 300px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .goal {
    overflow: hidden;
  }
  .goal h3 {
    text-align: center;
  }
  .goal__adv {
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin: 30px auto;
  }
  .goal__adv-box {
    border-left: none;
    border-top: 1px solid #E2E2E2;
    padding: 15px 0px;
  }
  .goal__adv-box-left {
    border-top: none;
  }
  .goal__info {
    text-align: center;
    padding-bottom: 50px;
  }
  .goal__info__content-cards {
    text-align: center;
  }
  .goal .slick-active {
    background: #ffd159;
  }
  .advantage {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .advantage-info {
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
  }
  .advantage-info h5 {
    font-size: 28px;
    padding: 0px 30px;
  }
  .advantage-info p {
    font-size: 14px;
    padding: 0px 30px;
    border-bottom: none;
  }
  .advantage-image {
    width: 100%;
    height: 270px;
    margin-left: 30px;
  }
  .advantage-image img {
    width: 330px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .when {
    overflow: hidden;
    padding: 100px 0px 50px 0px;
  }
  .when h3 {
    margin: 0;
    padding: 0px 30px;
  }
  .when-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .when-info-collums {
    margin: 0px;
    padding: 0;
    width: 100%;
  }
  .when-info-collums ul {
    padding: 0px 30px 0px 60px;
    font-size: 14px;
  }
  .when-btn {
    padding-top: 30px;
  }
  .directions {
    overflow: hidden;
    padding-top: 50px;
  }
  .directions h3 {
    margin: 0;
  }
  .directions h3 {
    padding: 0px 10px !important;
    left: 20px;
  }
  .directions p.text {
    padding: 0;
    padding: 0px 30px;
  }
  .directions label {
    top: 30px;
  }
  .directions label.table-label {
    right: 70px;
  }
  .directions label.list-label {
    right: 30px;
  }
  .directions-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions-name-label {
    width: 100%;
    height: 160px;
    margin: 100px 0px 30px 0px;
  }
  .directions-name-label h5 {
    font-size: 18px;
    text-align: center;
    padding: 100px 30px 30px 30px;
  }
  .directions-name-label h5.right {
    text-align: center;
  }
  .directions-name-label-image img {
    width: 240px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40%;
  }
  .directions-name-info {
    width: 100%;
  }
  .directions-name-info-content {
    padding: 0;
    padding: 0px 30px;
  }
  .directions__cards {
    margin: 30px 0px;
  }
  .directions__tabs__content__list {
    padding: 30px;
  }
  .directions__tabs__content__list h6 {
    font-size: 18px;
  }
  .directions__tabs__content__list__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions__tabs__content__list__col ul {
    font-size: 14px;
  }
  .directions-btn {
    padding: 30px 0px;
  }
  .why {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .why-label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .why-label-info {
    width: 100%;
    padding: 0px 30px;
    margin: 0;
  }
  .feedback {
    overflow: hidden;
    padding-top: 150px;
  }
  .feedback-adv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 300px;
    margin-left: auto;
    padding: 0px 30px;
  }
  .feedback-adv-box {
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
  }
  .feedback-adv-box-right {
    border-bottom: none;
  }
  .feedback h3 {
    padding: 0px 10px !important;
    left: 20px;
    text-align: center;
  }
  .feedback button.circle {
    margin-left: 30px;
  }
  .feedback-slider-box {
    margin: 0px 40px;
    height: 350px !important;
  }
  .feedback-slider-box b {
    font-size: 1em;
  }
  .feedback-slider-box span {
    font-size: 12px;
  }
  .feedback-slider-box h6 {
    font-size: 14px;
  }
  .feedback-slider-box p {
    font-size: 12px;
  }
  .feedback-slider-box .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order {
    overflow: hidden;
  }
  .order h3.gray {
    padding: 0px 10px;
    left: 20px;
  }
  .order-cards {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.8fr;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 0px 30px;
  }
  .order-cards-box {
    padding: 0;
  }
  .order-cards-box-numb b {
    font-size: 80px;
  }
  .order-cards-box-info b {
    font-size: 18px;
    font-family: 'OpenSans-Bold', sans-serif;
  }
  .order-cards-box-info p {
    font-size: 12px;
  }
  .faq {
    overflow: hidden;
    padding-bottom: 0;
  }
  .faq h3 {
    padding: 0px 1px;
    display: inline-block;
    text-align: center;
  }
  .faq-questions {
    padding: 0px 30px;
  }
  .faq-questions label {
    font-size: 14px;
  }
  .faq-answ {
    font-size: 14px;
  }
  .form {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .form__content {
    padding-top: 0;
  }
  .form__content-label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__content-label-info {
    width: 100%;
    padding: 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form__content-label-info img {
    width: 300px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .form__content-label-info h4 {
    font-size: 28px;
    margin-top: 15px;
  }
  .form__content-label-info p {
    font-size: 14px;
    margin-top: 10px;
  }
  .form__content-label-box {
    width: 100%;
    margin-top: 30px;
  }
  .form__content-label-box form {
    width: calc(100vw - 120px);
    margin: 0px auto;
    padding: 30px;
    grid-template-rows: repeat(10, 50px) repeat(2, 150px) 50px 80px;
    grid-template-columns: 100%;
    grid-template-areas: 'namelabel' 'name' 'phone' 'mail' 'adress' 'map' 'typeobject' 'type' 'goalform' 'goalchange' 'compl' 'speed' 'doc' 'modal-btn';
  }
  .form__content-label-box form h6 {
    font-size: 18px;
  }
  .form__content-label-box form h6.namelabel {
    grid-area: namelabel;
  }
  .form__content-label-box form input.name {
    grid-area: name;
  }
  .form__content-label-box form input.phone {
    grid-area: phone;
  }
  .form__content-label-box form input.mail {
    grid-area: mail;
  }
  .form__content-label-box form input.adress {
    grid-area: adress;
  }
  .form__content-label-box form span.map {
    grid-area: map;
  }
  .form__content-label-box form h6.typeobject {
    grid-area: typeobject;
  }
  .form__content-label-box form input.type {
    grid-area: type;
  }
  .form__content-label-box form h6.goalform {
    grid-area: goalform;
  }
  .form__content-label-box form input.goalchange {
    grid-area: goalchange;
  }
  .form__content-label-box form a.doc {
    grid-area: doc;
  }
  .form-footer {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 30px 40px 30px;
  }
  .form-footer-box {
    width: 100%;
  }
  .form-footer-box p {
    padding-right: 0;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form-footer-box-mail {
    margin: 0;
  }
  .form-footer-box-mail span.politic {
    font-size: 14px;
  }
  .footer {
    display: none;
  }
}
