@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Inter-Regular', sans-serif;
}
a,
input,
button {
  text-decoration: none;
  outline: none;
  color: blue;
}
h5 {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Inter-Bold', sans-serif;
  margin-bottom: 2em;
}
.header {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1em 0em;
  position: relative;
}
.header-nav {
  margin-top: 1.2em;
}
.header-nav a {
  padding: 0em 0.5em;
}
.header-logo {
  text-align: center;
  font-size: .7em;
}
.header-logo b {
  font-size: 3em;
  font-family: 'Inter-Bold', sans-serif;
}
.main {
  padding: 4em 0em;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #edc0bf), color-stop(58%, #c4caef));
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
  height: 85vh;
  position: relative;
}
.main img.worker {
  width: 680px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-info {
  position: relative;
}
.main-info img.shape {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: circular 5s infinite;
          animation: circular 5s infinite;
}
.main-info-box {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  top: 4em;
  margin-left: 4em;
  padding: 1.5em;
  border-radius: 1em;
}
.main-info-box b {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 1.2em;
}
.main-info-box p {
  margin: 0.5em 0em;
}
.main-info-box a {
  color: blue;
}
.about {
  padding: 4em 0em;
  background: transparent;
  height: 100vh;
  position: relative;
}
.about img.at {
  width: 100%;
}
.about-info-box {
  padding: 1.5em;
}
.about-info-box h6 {
  margin: 0.5em 0em;
  font-family: 'Inter-Bold', sans-serif;
}
.price {
  padding: 4em 0em;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #edc0bf), color-stop(58%, #c4caef));
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
  position: relative;
  height: 100vh;
}
.price h5 {
  margin-bottom: 1em;
}
.price-slider-box {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1.5em;
  border-radius: 1em;
  margin: 0em 2em;
  position: relative;
  z-index: 1;
  min-height: 410px;
}
.price-slider-box b {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 1.2em;
}
.price-slider-box b.money {
  font-size: 1em;
}
.price-slider-box p {
  margin: 0.5em 0em;
}
.price-slider-box a {
  color: blue;
  position: relative;
  top: 0.5em;
}
.price-slider-item {
  padding: 3em 0em;
  position: relative;
}
.price-slider-item img.iphone {
  height: 200px;
  position: absolute;
  z-index: -1;
  left: 0em;
  top: 0em;
}
.price-slider-item img.notebook {
  height: 200px;
  position: absolute;
  z-index: -1;
  left: -3em;
  top: -1em;
}
.price-slider-item img.ipad {
  height: 200px;
  position: absolute;
  z-index: -1;
  left: -2em;
  top: 0;
}
.portfolio {
  padding: 4em 0em;
  height: 100vh;
}
.portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-box-card {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 0.2em;
  margin: 1em 0em;
}
.portfolio-box-card img {
  width: 200px;
  margin-bottom: 0.5em;
}
.portfolio-box-card-large {
  width: 100%;
}
.connect {
  padding: 4em 0em;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #edc0bf), color-stop(58%, #c4caef));
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
  position: relative;
}
.connect-form-box {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1.5em;
  border-radius: 1em;
  margin: 0em 2em;
  position: relative;
}
.connect-form-box h6 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Inter-Bold', sans-serif;
}
.connect-form-box input {
  padding: 0.3em 1em;
  border: 1px solid #c6c6c6;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}
.connect-form-box b {
  font-size: 1em;
  padding: 0.2em;
  margin-left: 0.4em;
  position: relative;
}
.connect-form-box button {
  border: none;
  background: none;
  color: blue;
  margin-bottom: 1em;
}
.connect img.ph {
  height: 70vh;
  position: absolute;
  bottom: 0;
  right: 14%;
}
.connect img.ph1 {
  height: 70vh;
  position: absolute;
  bottom: 0;
  left: 8%;
}
@-webkit-keyframes circular {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes circular {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media (max-width: 700px) {
  .header {
    overflow: hidden;
  }
  .header-nav {
    display: none;
  }
  .main {
    overflow: hidden;
  }
  .main img.worker {
    display: none;
  }
  .about {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .about-info-box {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 2em;
    margin-bottom: 9em;
  }
  .about img.at {
    position: absolute;
    z-index: -1;
    bottom: -3em;
    left: -30%;
  }
  .price {
    height: 100%;
    overflow: hidden;
  }
  .price-slider {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price-slider-box {
    margin: 0em 0em 0em 4em;
    min-height: 450px;
  }
  .price-slider-item {
    margin: 0.5em;
  }
  .price-slider-item img.notebook {
    left: -2em;
  }
  .portfolio {
    height: 100%;
    overflow: hidden;
  }
  .portfolio-box-card,
  .portfolio-box-card-large {
    width: 100%;
  }
  .connect {
    height: 100%;
    overflow: hidden;
  }
  .connect-form-box {
    margin-left: 3em;
  }
  .connect img.ph {
    display: none;
  }
  .connect img.ph1 {
    height: 30vh;
    left: -6em;
  }
}
