@font-face {
  font-family: 'CasusPro';
  src: url('../fonts/CasusPro.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CasusPro-Bold';
  src: url('../fonts/CasusPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 10px;
}
a,
input {
  text-decoration: none;
}
.main {
  height: 100vh;
  background: url(../img/mainbg.jpg) no-repeat left bottom;
  position: relative;
}
.main .header {
  height: 20vh;
  padding: 2rem 0rem;
  position: relative;
}
.main .header img {
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 100px;
}
.main .header-menu {
  text-align: center;
}
.main .header-menu a {
  color: #eee5d2;
  font-size: 16px;
  font-family: 'Montserrat-Bold', sans-serif;
  padding: 0rem 1rem;
}
.main .header-phone {
  position: absolute;
  right: 0;
  top: 1.5rem;
}
.main .header-phone button {
  background: none;
  font-size: 16px;
  padding: 0.5rem 2rem;
  color: #eee5d2;
  border: 2px solid #eee5d2;
  border-radius: 3rem;
  font-family: 'Montserrat-Bold', sans-serif;
  -webkit-box-shadow: 0px 0px 10px #eee5d2;
          box-shadow: 0px 0px 10px #eee5d2;
}
.main .header-mobile {
  display: none;
}
.main .header-mobile-phone {
  display: none;
}
.main .header-mobile-menu {
  display: none;
}
.main .content {
  height: 80vh;
  color: #eee5d2;
}
.main .content h4 {
  margin-top: 7%;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 18px;
}
.main .content h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'CasusPro-Bold', sans-serif;
}
.main .content button {
  color: #eee5d2;
  border: 2.5px solid #eee5d2;
  border-radius: 3rem;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 18px;
  padding: 1.5rem 3rem;
  background: none;
  margin-top: 10%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px #eee5d2;
          box-shadow: 0px 0px 15px #eee5d2;
}
.about {
  padding: 2rem 0rem;
  padding-bottom: 6rem;
  position: relative;
}
.about img.wave {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.about h5 {
  font-family: 'CasusPro-Bold', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.about h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}
.about-image img {
  max-width: 50%;
  z-index: -1;
}
.about-image-left {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.about-box {
  margin: 0rem 10rem;
  position: relative;
  border: 2px solid #4f7c97;
}
.about-info {
  max-width: 45%;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 10%;
}
.about-info-right {
  right: 0;
  padding-right: 2rem;
}
.about-info-left {
  left: 0;
  padding-left: 2rem;
}
.about-info-box {
  display: inline-block;
  text-align: center;
  padding: 0rem 1rem;
  margin-top: 2rem;
}
.about-info-box img {
  height: 50px;
}
.about-info-box b {
  display: block;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-top: 0.5rem;
}
.about-info-box-right {
  margin-left: 10%;
}
.about-slider {
  position: relative;
}
.about-slider button {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 45%;
  z-index: 1;
}
.about-slider-prev {
  background: url(../img/prev.png) no-repeat center;
  left: 6rem;
}
.about-slider-next {
  background: url(../img/next.png) no-repeat center;
  right: 6rem;
}
.house {
  padding-bottom: 6rem;
  background: #4f7c97 url(../img/wave2.svg) no-repeat bottom left;
}
.house h5 {
  font-family: 'CasusPro-Bold', sans-serif;
  color: #fff;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.house h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}
.house-box {
  -webkit-box-shadow: 0px 0px 15px #eee5d2;
          box-shadow: 0px 0px 15px #eee5d2;
  overflow: hidden;
  padding-bottom: 1rem;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee5d2), to(#ffffff));
  background: linear-gradient(#eee5d2, #ffffff);
}
.house-box img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.house-box b.name {
  padding: 1rem;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
}
.house-box p {
  padding: 0.5rem 1rem;
  font-size: 12px;
  font-family: 'Montserrat-Regular', sans-serif;
}
.house-box-info {
  display: inline-block;
  text-align: left;
  padding: 0rem 1rem;
  font-size: 12px;
  margin-top: -0.5rem;
}
.house-box-info b {
  font-family: 'Montserrat-Bold', sans-serif;
}
.house-box-info-price {
  text-align: left;
  padding: 1rem 1rem;
  font-size: 12px;
}
.house-box-info-price b {
  font-family: 'Montserrat-Bold', sans-serif;
}
.house-box-button {
  text-align: center;
}
.house-box-button button {
  color: #eee5d2;
  border: none;
  border-radius: 3rem;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  padding: 1rem 2rem;
  background: #4f7c97;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px #4f7c97;
          box-shadow: 0px 0px 15px #4f7c97;
}
.activity {
  height: 100vh;
  padding: 2rem 0rem;
  position: relative;
  background: url(../img/wave.svg) no-repeat bottom left;
}
.activity h5 {
  font-family: 'CasusPro-Bold', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.activity h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}
.activity-box {
  border: 1px solid #4f7c97;
  overflow: hidden;
  padding-bottom: 1rem;
  height: 80vh;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee5d2), to(#ffffff));
  background: linear-gradient(#eee5d2, #ffffff);
  margin: 0rem 1rem;
}
.activity-box b.name {
  padding: 0rem 1rem;
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-bottom: 1rem;
}
.activity-box p {
  padding: 0rem 1rem;
}
.activity-box img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.activity-box-info {
  display: inline-block;
  padding: 0rem 1rem;
}
.activity-box-info b {
  font-family: 'Montserrat-Bold', sans-serif;
}
.activity-slider {
  position: relative;
}
.activity-slider button {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.activity-slider-prev {
  background: url(../img/prev.png) no-repeat center;
  left: -3rem;
}
.activity-slider-next {
  background: url(../img/next.png) no-repeat center;
  right: -3rem;
}
.map {
  height: 100vh;
  padding: 2rem 0rem;
  background: #4f7c97 url(../img/map.png) no-repeat 80% 0%;
  color: #fff;
}
.map h5 {
  font-family: 'CasusPro-Bold', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}
.map-info {
  font-size: 14px;
  padding: 1rem 0rem;
}
.map-info b {
  font-family: 'Montserrat-Bold', sans-serif;
}
.map-yandex {
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 10rem 0rem 0rem;
}
.footer {
  background: #253c56;
  padding: 2rem 0rem;
  color: #fff;
}
.footer img {
  height: 100px;
  margin-bottom: 1rem;
}
.footer p {
  font-size: 12px;
  padding: 0.25rem 0rem;
}
.footer a {
  display: block;
  color: #fff;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  padding: 0.3rem 0rem;
}
.footer b {
  font-family: 'Montserrat-Bold', sans-serif;
}
.footer a.soc {
  display: inline-block;
  padding: 0.5rem 0.5rem 0rem 0rem;
}
.footer a.soc img {
  height: 32px;
}
@media (max-width: 480px) {
  .main {
    overflow: hidden;
  }
  .main .header {
    text-align: center;
  }
  .main .header-logo img {
    position: relative;
    top: 0;
    width: 50%;
  }
  .main .header-mobile-menu {
    display: inline-block;
    position: absolute;
    top: 2rem;
    left: 1rem;
  }
  .main .header-mobile-menu button.btn {
    background: url(../img/menu-mobile.png) center no-repeat;
    height: 40px;
    width: 40px;
  }
  .main .header-mobile-phone {
    display: inline-block;
    position: absolute;
    top: 0.6rem;
    right: 3rem;
  }
  .main .header-mobile-phone img {
    height: 40px;
    width: 40px;
  }
  .main .header-menu {
    display: none;
  }
  .main .header-phone {
    display: none;
  }
  .main .content {
    text-align: center;
  }
  .main .content h1 {
    font-size: 36px;
  }
  .main .content h4 {
    margin-top: 25%;
  }
  .about {
    overflow: hidden;
    padding: 2rem 0rem;
  }
  .about-box {
    margin: 0rem 0.5rem;
  }
  .about-image img {
    max-width: 100%;
  }
  .about-image-left {
    -webkit-transform: none;
            transform: none;
    position: relative;
    top: -331px;
  }
  .about-info {
    max-width: 100%;
    position: relative;
    margin-top: 1rem;
  }
  .about-info-right {
    padding: 0rem 1rem;
  }
  .about-info-left {
    padding: 0rem 1rem;
    position: relative;
    top: 365px;
  }
  .about-info-box {
    margin-bottom: 1rem;
  }
  .about-slider button {
    top: 23%;
  }
  .about-slider-prev {
    left: 1rem;
    background: url(../img/prevwhite.png) no-repeat center;
  }
  .about-slider-next {
    right: 1rem;
    background: url(../img/nextwhite.png) no-repeat center;
  }
  .house {
    overflow: hidden;
    height: 100%;
    padding: 2rem 1rem;
  }
  .house-box {
    margin-bottom: 1rem;
  }
  .house-box p {
    font-size: 14px;
  }
  .house-box-info {
    font-size: 14px;
  }
  .house-box-info-price {
    font-size: 14px;
  }
  .activity {
    overflow: hidden;
    height: 100%;
    padding: 2rem 0rem;
  }
  .activity-box {
    margin: 0rem 0.5rem;
    font-size: 14px;
  }
  .activity-box-image {
    display: block;
  }
  .activity-box-image img {
    max-width: 100%;
  }
  .activity-slider button {
    top: 23%;
  }
  .activity-slider-prev {
    left: 1rem;
    background: url(../img/prevwhite.png) no-repeat center;
  }
  .activity-slider-next {
    right: 1rem;
    background: url(../img/nextwhite.png) no-repeat center;
  }
  .map {
    overflow: hidden;
    height: 100%;
    padding: 2rem 1rem;
    background: #4f7c97 url(../img/mapmobile.png) no-repeat 100% 0%;
  }
  .map-yandex {
    margin: 0;
  }
  .footer {
    overflow: hidden;
    padding: 2rem 1rem;
  }
}
